.achievementPublication, .sendAndEstimateAtrifactNotification{
   background-color: #FAFAFA;
}

.darkAchievementPublication, .darkSendAndEstimateAtrifactNotification{
   background: #191919;
}

.achievementPublication, .darkAchievementPublication{
   width: 90%;
   padding: 17px 24px;
   border-radius: 12px;
   margin-bottom: 20px;

   &:last-child{
      margin-bottom: 0;
   }

   &__top{
      display: flex;
      justify-content: space-between;
      align-items: center;

      img{
         user-select: none;
      }

      .userInfo{
         display: flex;
         align-items: center;

         .userNameAndDateBlock{
            margin-left: 25px;

            p{
               font-size: 16px;
               font-weight: 500;
               color: #096DD9;
            }

            span{
               font-size: 16px;
               font-weight: 400;
               line-height: 24px;
               color: #8C8C8C;
               user-select: none;
            }
         }
      }
   }

   &__text{
      margin-top: 25px;

      p{
         font-size: 16px;
         font-weight: 400;
         line-height: 24px;
         color: #8C8C8C;
      }
   }
}

.sendAndEstimateAtrifactNotification, .darkSendAndEstimateAtrifactNotification{
   width: 90%;
   padding: 17px 24px;
   border-radius: 12px;
   margin-bottom: 20px;
   padding-bottom: 40px;

   .notificationTop{
      display: flex;
      align-items: center;
      gap: 25px;

      img{
         user-select: none;
      }

         .userNameAndDateBlock{
            p{
               font-size: 16px;
               font-weight: 500;
               color: #096DD9;
            }

            span{
               font-size: 16px;
               font-weight: 400;
               line-height: 24px;
               color: #8C8C8C;
               user-select: none;
            }
         }
   }

   .notificationBottom{
      display: flex;
      align-items: center;
      gap: 25px;
      margin-top: 35px;
      border-bottom: 2px solid #1890FF;
      width: fit-content;
      padding-bottom: 12px;

      &__result{
         display: flex;
         align-items: center;
         gap: 10px;

         p{
            font-size: 16px;
            font-weight: 400;
            line-height: 24px;
            color: #262626;
         }
      }

      &__userInfo{
         display: flex;
         align-items: center;
         gap: 10px;

      img{
         user-select: none;
      }

         .userNameAndDateBlock{
            p{
               font-size: 14px;
               font-weight: 400;
               color: #262626;
            }

            span{
               font-size: 14px;
               font-weight: 400;
               line-height: 24px;
               color: #8C8C8C;
               user-select: none;
            }
         }
      }
   }

   .notificationMessage{
      margin-top: 30px;

      p{
         font-size: 16px;
         font-weight: 400;
         line-height: 24px;
         color: #262626;
      }
   }
}

@media(max-width: 450px){
   .achievementPublication, .darkAchievementPublication{
      width: 100%;
   }
}