.popularAmongFriendsItem{
   background-color: #fff;

   &__info{
      p{
         color: #262626;
      }
   }
}

.darkPopularAmongFriendsItem{
   background-color: #191919;

   &__info{
      p{
         color: #fff;
      }
   }
}

.popularAmongFriendsItem, .darkPopularAmongFriendsItem{
   border-radius: 16px;
   transition: transform 0.1s ease-in-out;
   cursor: pointer;
   user-select: none;
   margin-bottom: 10px;
   margin-right: 20px;
   

   &__info{
      padding: 12px 22px 24px 22px;

      p{
         font-size: 16px;
         font-weight: 600;
         line-height: 24px;
      }
   
      span{
         color: #8C8C8C;
         font-size: 16px;
         font-weight: 400;
         line-height: 24px;
         display: block;
      }
   
      .friendsIcons{
         display: flex;
         align-items: center;
         margin-top: 10px;
         
         &__icon{
            border-radius: 50%;
   
            img{
               border-radius: 50%;
            }
         }
      }
   }

  
}

@media(hover: hover) and (pointer: fine){
   .popularAmongFriendsItem:hover, .darkPopularAmongFriendsItem:hover{
      transform: translateY(5px);
   }
}
