.usefulArticlesItem{
   border-radius: 16px;
   background-color: #fff;
   margin-right: 25px;
   transition: transform 0.1s ease-in-out;
   cursor: pointer;
   margin-bottom: 10px;

   img{
      width: 100%;
      border-radius: 16px 16px 0 0;
   }

   &__info{
      padding: 25px;
      border: 1px solid #D9D9D9;
      border-bottom-left-radius: 16px;
      border-bottom-right-radius: 16px;
      border-top: 0;

      span{
         font-size: 12px;
         font-weight: 600;
         line-height: 28px;
         color:#8C8C8C;
         text-transform: uppercase;
      }

      h3{
         font-size: 20px;
         font-weight: 600;
         line-height: 28px;
      }

      p{
         margin-top: 8px;
         font-size: 16px;
         font-weight: 400;
         line-height: 24px;
         color:#8C8C8C;
      }
   }
}

@media(hover: hover) and (pointer: fine){
   .usefulArticlesItem:hover{
      transform: translateY(9px);
   }
}
