.sliderWrapper{
   margin: 0 auto;
   position: relative;

   .mainHeader{
      position: absolute;
      top:0;
      left: 0;
      right: 0;
      z-index: 1;
      max-width: 1440px;
      margin: 0 auto;
      padding: 0 83px;
      margin-top: 15px;
      display: flex;
      align-items: center;
      justify-content: space-between;

      &__left{
         display: flex;
         align-items: center;

         img{
            margin-left: 25px;
            user-select: none;
            margin-top: 5px;
         }
         
         svg{
            cursor: pointer;
            transition: transform 0.1s ease-in-out;
            min-width: 48px;
         }
      }

      &__right{
         display: flex;
         align-items: center;
         gap: 40px;

         svg{
            cursor: pointer;
            transition: transform 0.1s ease-in-out;
         }

         .headerAccAvatar{
            width: 48px;
            height: 48px;
            border-radius: 50%;
            background-image: url(../../../public/img/headerAccAvatar.png);
            background-size: 48px 48px;
            background-position: center;
            cursor: pointer;
            position: relative;

            &__popup{
               position: absolute;
               right: 0;
               top: 55px;
               background-color: #fff;
               padding: 10px 0;
               border-radius: 16px;
               user-select: none;
               transition: max-height 0.5s ease-in-out;
               animation-duration: 0.5s;
               animation-name: header-acc-popup;
               box-shadow: 0px 9px 28px 8px rgba(0, 0, 0, 0.05), 0px 6px 16px rgba(0, 0, 0, 0.08), 0px 3px 6px -4px rgba(0, 0, 0, 0.12);

               p{
                  white-space: nowrap;
                  color: #262626;
                  font-size: 14px;
                  font-weight: 400;
                  line-height: 22px;
                  margin-bottom: 10px;
                  cursor: pointer;
                  padding: 0 20px;
                  transition: transform 0.1s ease-in-out;

                  &:last-child{
                     margin-bottom: 0;
                  }
               }

               .popupExit{
                  padding-top: 10px;
                  border-top: 1px solid #C4C4C4;
               }
            }
         }
      }
   }
}

.continueBlock{
   max-width: 1440px;
   margin: 0 auto;

   &__items{
      padding: 0 83px;
   }

   // :global(.slick-track){
   //    margin-left: 4% !important;
   // }
}

.achievementBlock{
   max-width: 1440px;
   margin: 0 auto;

   &__items{
      padding: 0 83px;
   }

   // :global(.slick-track){
   //    margin-left: 2% !important;
   // }
}

.activeFriendsBlock{
   max-width: 1440px;
   margin: 0 auto;
   
   &__items{
      padding: 0 83px;
   }

   // :global(.slick-track){
   //    margin-left: 3% !important;
   // }
}

.popularAmongFriendsBlock{
   max-width: 1440px;
   margin: 0 auto;

   &__items{
      padding: 0 83px;
   }

   // :global(.slick-track){
   //    margin-left: 3.5% !important;
   // }
}

.usefulArticlesBlock{
   max-width: 1440px;
   margin: 0 auto;

   &__items{
      padding: 0 83px;
   } 

   // :global(.slick-track){
   //    margin-left: 4% !important;
   // }
}

.darkFooter{
   background-color: #000;

   .footerTop{
      &__left{
         p{
            color: #fff;
         }

         svg path{
            fill: #fff;
         }
      }
   }
}

.footer{
   background-color: #fff;

   .footerTop{
      &__left{
         p{
            color: #262626;
         }
      }
   }
}

.footer, .darkFooter{
   margin-top: 80px;
   padding: 35px 0;
   box-shadow: 0px 9px 28px 8px rgba(0, 0, 0, 0.05), 0px 3px 6px -4px rgba(0, 0, 0, 0.12);
   filter: drop-shadow(0px 6px 16px rgba(0, 0, 0, 0.08));

   .footerTop{
      display: flex;
      align-items: center;
      justify-content: space-between;
      max-width: 1440px;
      margin: 0 auto;
      padding: 0 83px;

      &__left{
         display: flex;
         align-items: center;

         p{
            font-size: 14px;
            font-weight: 400;
            line-height: 22px;
            margin-left: 8px;
         }
      }
      
      &__right{
         display: flex;
         align-items: center;

         span{
            margin: 0 27px;
         }

         p{
            text-decoration: none;
            color: #595959;
            font-size: 16px;
            font-weight: 400;
            line-height: 24px;
            transition: transform 0.1s ease-in-out;
            cursor: pointer;
         }
      }
   }

   span{
      color:#C4C4C4;
      font-weight: 400;
      cursor: default;
      user-select: none;
      
   }

   .footerBottom{
      max-width: 1440px;
      margin: 0 auto;
      display: flex;
      justify-content: space-between;
      align-items: center;
      margin-top: 40px;
      padding: 0 83px;

      p{
         text-decoration: none;
         color: #595959;
         font-size: 16px;
         font-weight: 400;
         line-height: 24px;
         transition: transform 0.1s ease-in-out;
         cursor: pointer;
      }
   }
   }

.sliderWrapper{
   :global(.slick-arrow){
      display: none !important;
   }
}

:global(.slick-arrow){
   z-index: 10;
}

:global(.slick-dots){
   bottom: 15px !important;
}

:global(.slick-dots li) {
   margin: 0 !important;
   width: 16px !important;
   height: 3px !important;
   margin-right: 8px !important;
 }

 :global(.slick-dots li button) {
   content: '' !important;
   background-color: #fff !important;
   opacity: 0.3 !important;
   width: 16px !important;
   height: 3px !important;
   padding: 0 !important;
 }

 :global(.slick-dots li button::before) {
   content: '' !important;
 }

 :global(.slick-dots li button:last-child) {
   margin: 0 !important;
 }
 :global(.slick-dots .slick-active) {
   width: 24px !important;
 }

 :global(.slick-dots .slick-active button) {
   opacity: 1 !important;
   background-color: #fff !important;
   width: 24px !important;
 }


 @keyframes header-acc-popup {
   from {
    max-height: 0;
   }
   to {
    max-height: 1000px;
   }
 }

.footerTop__right p:active, .footerBottom p:active, .mainHeader svg:active, .headerAccAvatar__popup p:active{
   transform: scale(0.9);
}

 @media(hover: hover) and (pointer: fine){
   .mainHeader__left svg:hover rect{
      fill: #00BFFF;
   }

   .mainHeader__right svg:hover path{
      fill: #00BFFF;
   }
   
   .footerTop__right p:hover, .footerBottom p:hover{
      color: #000;
   }
   .mainHeader__right .headerAccAvatar__popup p:hover{
      color: #00BFFF;
   }
 }


 @media(max-width: 1350px){
   .sliderWrapper .mainHeader, .usefulArticlesBlock__items, .continueBlock__items, .achievementBlock__items, .activeFriendsBlock__items, .popularAmongFriendsBlock__items{
      padding: 0 50px;
   }

   .footer, .darkFooter{
      padding: 35px 0;

   .footerTop, .footerBottom{
      padding: 0 50px;
   }
   }
 }

 @media(max-width: 1200px){
   .footerBottom{
      text-align: center;
   }

   .footerBottom span{
      margin: 0 27px;
   }

   // .achievementBlock{
   //    :global(.slick-track){
   //       margin-left: 3% !important;
   //    }
   // }
 }

//  @media(max-width: 1050px){
//    .activeFriendsBlock__items{
//       :global(.slick-track){
//          margin-left: 5% !important;
//       }
//    }

//    .usefulArticlesBlock{
//       :global(.slick-track){
//          margin-left: 5% !important;
//       }
//    }
// }

 @media(max-width: 1023px){
   .sliderWrapper .mainHeader, .usefulArticlesBlock__items, .continueBlock__items, .achievementBlock__items, .activeFriendsBlock__items, .popularAmongFriendsBlock__items{
      padding: 0 25px;
   }

   .footer, .darkFooter{

      p{
         margin-bottom: 10px;
      }

      .footerTop{
         display: block;
         padding: 0 25px;

         &__right{
            display: block;
            margin-top: 20px;

            p{
               display: block;
            }

            span{
               display: none;
            }
         }
         }

         .footerBottom{
            display: block;
            text-align: start;
            margin: 0;
            padding: 0 25px;

            p{
               display: block;
            }

            span{
               display: none;
            }
         }
      }

      :global(.slick-arrow){
         display: none !important;
      }
   }

   // @media(max-width: 900px){
   //    .achievementBlock{
   //       :global(.slick-track){
   //          margin-left: 5% !important;
   //       }
   //    }
   // }

   // @media(max-width: 850px){
   //    .activeFriendsBlock__items{
   //       :global(.slick-track){
   //          margin-left: 7% !important;
   //       }
   //    }

   //    .popularAmongFriendsBlock{
   //       :global(.slick-track){
   //          margin-left: 6% !important;
   //       }
   //    }
   // }
   
   @media(max-width: 750px){
      .sliderWrapper .mainHeader, .usefulArticlesBlock__items, .continueBlock__items, .achievementBlock__items, .activeFriendsBlock__items, .popularAmongFriendsBlock__items{
         padding: 0 15px;
      }
   
      .footer, .darkFooter{
         padding: 25px 0;

         .footerTop, .footerBottom{
            padding: 0 15px;
         }
   }

      .sliderWrapper .mainHeader__right{
         display: none;
   }
}

// @media(max-width: 700px){
//    .usefulArticlesBlock{
//       :global(.slick-track){
//          margin-left: 10% !important;
//       }
//    }
   
//    .continueBlock{
//       :global(.slick-track){
//          margin-left: 7% !important;
//       }
//    }
// }

// @media(max-width: 600px){
//    .activeFriendsBlock__items{
//       :global(.slick-track){
//          margin-left: 12% !important;
//       }
//    }

//    .popularAmongFriendsBlock{
//       :global(.slick-track){
//          margin-left: 12% !important;
//       }
//    }

//    .usefulArticlesBlock{
//       :global(.slick-track){
//          margin-left: 12% !important;
//       }
//    }
// }

// @media(max-width: 550px){
//    .continueBlock{
//       :global(.slick-track){
//          margin-left: 10% !important;
//       }
//    }
// }

// @media(max-width: 450px){
//    .achievementBlock{
//       :global(.slick-track){
//          margin-left: 30% !important;
//       }
//    }
// }

@media(max-width: 400px){
   .sliderWrapper .mainHeader__left{
      justify-content: space-between;
      width: 100%;

      img{
         margin-left: 0;
      }
   }
}
 
@media(max-width: 350px){
   .sliderWrapper{
      .mainHeader{
         &__left{
            img{
               transform: scale(0.9);
            }
         }
      }
   }
}