.overlayMenu{
   background-color: #fff;

   &__title{
      h3{
         color: #262626;
      }
   }

   &__selectedBtns{
      button{
         background-color: #F5F5F5;
         color: #262626;
      }
   }
}

.darkOverlayMenu{
   background-color: #0D0D0D;

   &__title{
      h3{
         color: #fff;
      }
   }

   &__selectedBtns{
      button{
         background-color: #171717;;
         color: #D9D9D9;

         svg path{
            fill: #D9D9D9;
         }
      }
   }
}

.overlayMenu, .darkOverlayMenu{
   width: 45%;
   height: 100%;
   position: relative;
   display: flex;
   flex-direction: column;

   &__closeBtn{
      position: absolute;
      top: 10px;
      left: -70px;
      cursor: pointer;
      transition: transform 0.1s ease-in-out;
   }

   &__title{
      flex: 1;
      margin-top: 30px;
      padding: 0 23px;

      h3{
         font-size: 40px;
         font-weight: 500;
         line-height: 46px;
      }

      p{
         margin-top: 15px;
         font-size: 16px;
         font-weight: 400;
         line-height: 24px;
         color: #8c8c8c;
      }
   }

   &__selectedBtns{
      margin-bottom: 40px;
      padding: 0 23px;
      user-select: none;

      button{
         margin-bottom: 25px;
         display: block;
         height: 40px;
         width: 90%;
         display: flex;
         justify-content: space-between;
         border: none;
         align-items: center;
         padding: 0 12px;
         border-radius: 2px;
         font-size: 16px;
         font-weight: 400;
         line-height: 24px;
         cursor: pointer;
         transition: transform 0.1s ease-in-out;

         &:last-child{
            margin-bottom: 0;
         }
      }
   }

   &__btns{
      display: flex;
      align-items: center;
      user-select: none;
      button{
         height: 60px;
         border: none;
         cursor: pointer;
         font-size: 16px;
         font-weight: 400;
         line-height: 24px;
         color: #fff;
         background-color: #1890FF;
         width: 100%;
      }
   }
}

.overlayMenu, .darkOverlayMenu{
   &__selectedBtns{
   button:active{
      transform: scale(0.9);
   }
   }

   &__closeBtn:active{
      transform: scale(0.9);
   }
}

@media(hover: hover) and (pointer: fine){
   .overlayMenu, .darkOverlayMenu{
      &__closeBtn:hover svg path{
         fill: #fff;
      }

      &__selectedBtns{
         button:hover{
            color: #8c8c8c;

            svg path{
               fill: #8c8c8c;
            }
         }
      }

      &__btns{
         button{
            &:first-child:hover{
               background-color: #DC143C;
            }

            &:last-child:hover{
               background-color: #00BFFF;
            }
         }
      }
   }
}

@media(max-width: 1200px){
   .overlayMenu, .darkOverlayMenu{
      width: 60%;
   }
}

@media(max-width: 900px){
   .overlayMenu, .darkOverlayMenu{
      width: 80%;
   }
}

@media(max-width: 750px){
   .overlayMenu, .darkOverlayMenu{
      &__title{
         h3{
            font-size: 25px;
            line-height: 30px;
         }
      }
   }
}

@media(max-width: 650px){
   .overlayMenu, .darkOverlayMenu{
      width: 100%;

      &__closeBtn{
         left: unset;
         right: 10px;
         top: 17px;
      }

      &__selectedBtns{
         button{
            width: 100%;
         }
      }
   }
}

@media(max-width: 500px){
   .overlayMenu, .darkOverlayMenu{
      &__title{
         margin-right: 50px;
      }
   }
}
