.backBtn{
   &__btn{
      background-color:#F0F2F5;
   }
}

.darkBackBtn{
   &__btn{
      background-color: #333333;
   }
}

.backBtn, .darkBackBtn{
   display: flex;
   align-items: center;
   margin-top: 40px;
   user-select: none;

   a{
      display: flex;
      align-items: center;
   }
   
   &__btn{
      width: 48px;
      height: 48px;
      border-radius: 4px;
      display: flex;
      justify-content: center;
      align-items: center;
      transition: transform 0.1s ease-in-out;

      svg{
         transition: transform 0.1s ease-in-out;
      }
   }

   p{
      font-size: 16px;
      font-weight: 500;
      line-height: 24px;
      color: #8C8C8C;
      margin-left: 25px;
      transition: transform 0.1s ease-in-out;
   }
}

.backBtn a:active .backBtn__btn, .backBtn a:active p{
   transform: scale(0.9);
}

.darkBackBtn a:active .darkBackBtn__btn, .darkBackBtn a:active p{
   transform: scale(0.9);
}

 @media(hover: hover) and (pointer: fine){
   .backBtn a:hover svg, .darkBackBtn a:hover svg{
      transform: translateX(-3px);
   }

   .backBtn a:hover p{
      color: #000;
   }

   .darkBackBtn a:hover p{
      color: #fff;
   }
}