.overlayMenu{
   background-color: #fff;

   &__selectedBtns{
      button{
         background-color: #F5F5F5;
         
         .btnText{
            span{
               color: #262626;
            }
         }

         .selectedBtnPopup{
            background-color: #fafafa;
         }
      }
   }
}

.darkOverlayMenu{
   background-color: #0D0D0D;

   &__selectedBtns{
      button{
         background-color: #171717;;
         

         .btnText{
            span{
               color: #D9D9D9;
            }

            svg path{
               fill: #D9D9D9;
            }
         }

         .selectedBtnPopup{
            background-color: #D9D9D9;
         }   
      }
   }
}

.overlayMenu, .darkOverlayMenu{
   width: 45%;
   height: 100%;
   position: relative;
   display: flex;
   flex-direction: column;
   transition: opacity 0.3s ease-in-out;
   animation-duration: 0.3s;
   animation-name: popup-animation;

   &__closeBtn{
      position: absolute;
      top: 10px;
      left: -70px;
      cursor: pointer;
      transition: transform 0.1s ease-in-out;
   }

   &__title{
      flex: 1;
      margin-top: 30px;
      padding: 0 23px;

      h3{
         font-size: 40px;
         font-weight: 500;
         line-height: 46px;
      }
   }

   &__selectedBtns{
      margin-bottom: 40px;
      padding: 0 23px;
      user-select: none;

      button{
         margin-bottom: 25px;
         display: block;
         height: 40px;
         width: 90%;
         border: none;
         padding: 0 12px;
         border-radius: 6px;
         cursor: pointer;
         transition: transform 0.1s ease-in-out;
         position: relative;

         .btnText{
            display: flex;
            justify-content: space-between;
            align-items: center;

            span{
               font-size: 16px;
               font-weight: 400;
               line-height: 24px;
            }

            svg{
               min-width: 18px;
            }

            .activeSvg{
               transform: scale(1.5)
            }
         }

         .selectedBtnPopup{
            position: absolute;
            right: 0;
            bottom: 50px;
            padding: 20px;
            box-shadow: 0px 9px 28px 8px rgba(0, 0, 0, 0.05), 0px 6px 16px rgba(0, 0, 0, 0.08), 0px 3px 6px -4px rgba(0, 0, 0, 0.12);
            padding: 13px 16px;
            border-radius: 12px;
            transition: opacity 0.3s ease-in-out;
            animation-duration: 0.3s;
            animation-name: popup-animation;
            z-index: 10;
   
            ul{
               list-style: none;
               text-align: start;
               display: flex;
               flex-direction: column;
               gap: 20px;
   
               li{
                  font-size: 14px;
                  font-weight: 400;
                  line-height: 22px;
                  color: #262626;
                  cursor: pointer;
               }
            }
         }
         
         &:last-child{
            margin-bottom: 0;
         }
      }
   }

   &__btns{
      display: flex;
      align-items: center;
      user-select: none;

      a{
         width: 50%;
      }

      button{
         height: 60px;
         border: none;
         cursor: pointer;
         font-size: 16px;
         font-weight: 400;
         line-height: 24px;
         color: #fff;

         &:first-child{
            background-color: #FF4D4F;
            width: 50%;
         }

         &:last-child{
            background-color: #1890FF;
            width: 100%;
         }
      }

      #disabledBtn{
         opacity: 0.5;
         filter: brightness(0.5);
         cursor: default;
      }
   }
}

.overlayMenu, .darkOverlayMenu{
   &__closeBtn:active{
      transform: scale(0.9);
   }
}

@keyframes popup-animation{
   from {
    opacity: 0;
   }
   to {
    opacity: 1;
   }
 }

@media(hover: hover) and (pointer: fine){
   .overlayMenu, .darkOverlayMenu{
      &__closeBtn:hover svg path{
         fill: #fff;
      }

      &__selectedBtns{
         button
         .btnText:hover{
            span{
            color: #8c8c8c;
            }

            svg path{
               fill: #8c8c8c;
            }
         }

         .selectedBtnPopup ul li:hover{
            color: #8c8c8c;
         }
      }

      &__btns{
         button{
            &:first-child:hover{
               background-color: #DC143C;
            }

            &:last-child:hover{
               background-color: #00BFFF;
            }
         }

         #disabledBtn:hover{
            background-color: #1890FF;
         }
      }
   }
}

@media(max-width: 1200px){
   .overlayMenu, .darkOverlayMenu{
      width: 60%;
   }
}

@media(max-width: 900px){
   .overlayMenu, .darkOverlayMenu{
      width: 80%;
   }
}

@media(max-width: 650px){
   .overlayMenu, .darkOverlayMenu{
      width: 100%;

      &__closeBtn{
         left: unset;
         right: 10px;
         top: 17px;
      }

      &__selectedBtns{
         button{
            width: 100%;
         }
      }
   }
}
