.detailAchievementPage{
   &__top{
      background-color: #FAFAFA;

      .titleBlock{
         &__info{
            .infoTop{
               p{
                  color: #262626;
               }

               .infoGold{
                  span{
                     color: #262626;
                  }
               }
            }

            .infoTitle{
               h2{
                  color: #262626;
               }
            }

            .unblockedBtns{
               .messageBtn{
                     color: #262626;
                     background-color: #fff;
                     border: 1px solid #D9D9D9;  
               }

               #sendedBtn{
                  background-color: #F5F5F5;
                  border: 1px solid #D9D9D9;
                  color: #BFBFBF;
                  cursor: default;
               }

               #completedSendAndEstimateBtn{
                  background-color: #F5F5F5;
                  border: 1px solid #D9D9D9;
                  color: #BFBFBF;
                  cursor: default;
               }
            }
         }
      }
   }

   .navMenuAndContentWrapper{
   .navMenuAndContent{
      .navMenu{
         ul{
            li{
               color: #262626;
            }
         }
      }

      .content{
         h3{
            color: #262626;
         }

         .instructionText{
            p, li{
               color: #262626;
            }

            .textWithTitleBlock{
               h3{
                  color: #262626;
               }
            }
         }

         .artifactBlock{
            p, li{
               color: #262626;
            }
         }

         .unblockedHistory{
            .steps{
               &__step{
                  .blockedStep{
                     background-color: #fff;
                     border: 1px solid #D9D9D9;
                     color: #8C8C8C;
                  }
                  
                  .activeStep{
                     background-color: #1890FF;
                     border: 1px solid #1890FF;
                     color: #fff;
                  }
      
                  .completedStep{
                     background-color: #fff;
                     border: 1px solid #1890FF;
                  }

                  .stepInfo{
                     h3{
                        .stepSeparator{
                           background-color: #fff;
                        }
                     }
                  }
               }
            }

            &__btn{
               .sendedBtn{
                  background-color: #F5F5F5;
                  border: 1px solid #D9D9D9;
                  color: #BFBFBF;
                  cursor: default;
               }
            }

            .unblockedPublicationsBlock{
               &__inputAndBtns{
                  input{
                     color: #262626;
                  }

                  .attachments{
                     color: #fff;
                     background-color: #262626;

                     &__popup{
                        background-color: #262626;

                        ul{
                           li{
                              color: #fff;
                           }
                        }
                     }
                  }
               }
            }
         }
      }
   }
}
}

.darkDetailAchievementPage{
   &__top{
      background-color: #191919;

      .titleBlock{
         &__info{
            .infoTop{
               p{
                  color: #fff;
               }

               .infoGold{
                  span{
                     color: #fff;
                  }

                  svg path{
                     fill: #fff;
                  }
               }
            }

            .infoTitle{
               h2{
                  color: #fff;
               }
            }

            .unblockedBtns{
               .messageBtn{
                     color: #fff;
                     background-color: #191919;
                     border: 1px solid #fff;
                  }
            }
         }
      }
   }

   .navMenuAndContentWrapper{
   .navMenuAndContent{
      .navMenu{
         ul{
            li{
               color: #fff;

               svg path{
                   fill: #fff;
               }
            }
         }
      }

      .content{
         h3{
            color: #fff;
         }

         .instructionText{
            p, li{
               color: #fff;
            }

            .textWithTitleBlock{
               h3{
                  color: #fff;
               }
            }
         }

         .artifactBlock{
            p, li{
               color: #fff;
            }
         }

         .unblockedHistory{
            .steps{
               span{
                  background-color: #191919;
                  border: 1px solid #333333;
                  color: #8C8C8C;
               }

               &__step{
                  .blockedStep{
                     background-color: #191919;
                     border: 1px solid #333333;
                     color: #8C8C8C;
                  }
                  
                  .activeStep{
                     background-color: #1890FF;
                     border: 1px solid #1890FF;
                     color: #fff;
                  }
      
                  .completedStep{
                     background-color: #191919;
                     border: 1px solid #1890FF;
                  }

                  .stepInfo{
                     h3{
                        .stepSeparator{
                           background-color: #191919;
                        }
                     }
                  }
               }
            }

            &__btn{
               .sendedBtn{
                  background-color: #191919;
                  color: #595959;
                  cursor: default;
               }
            }

            .unblockedPublicationsBlock{
               &__inputAndBtns{
                  input{
                     color: #fff;
                     background-color: #191919;
                  }

                  .attachments{
                     color: #191919;
                     background-color: #D9D9D9;

                     &__popup{
                        background-color: #D9D9D9;

                        ul{
                           li{
                              color: #191919;
                           }
                        }
                     }
                  }
               }
            }
         }
      }
   }
}
}

.detailAchievementPage, .darkDetailAchievementPage{
&__top{
   padding: 0 83px;
   box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.1);
   padding-bottom: 35px;

   .backBtn{
      max-width: 1440px;
      margin: 0 auto;
   }

   .titleBlock{
      max-width: 1440px;
      margin: 0 auto;
      margin-top: 25px;
      display: flex;

      &__img{
         border-radius: 50%;
         width: 25%;
         user-select: none;

         img{
            border-radius: 50%;
         }
      }

      &__info{
         width: 75%;
         max-width: 770px;

         .infoTop{
            display: flex;
            align-items: center;
            user-select: none;

            p{
               font-size: 16px;
               font-weight: 500;
               line-height: 24px;
            }

            .infoGold{
               display: flex;
               align-items: center;
               margin-left: 5px;

               span{
                  font-size: 16px;
                  font-weight: 500;
                  line-height: 24px;
                  margin-left: 5px;
               }

               svg{
                  min-width: 24px;
               }
            }
         }

         .infoTitle{
            h2{
               font-size: 40px;
               font-weight: 500;
               line-height: 46px;
            }
         }

         .infoText{
            margin-top: 15px;
         }

         .unblockBlock, .unblockedBtns{

            user-select: none;

            button{
               height: 40px;
               padding: 0 15px;
               border: none;
               border-radius: 6px;
               font-size: 16px;
               font-weight: 400;
               line-height: 24px;
               cursor: pointer;
               transition: transform 0.1s ease-in-out;
            }

            .unblockBtn{
               color: #fff;
               background-color: #1890FF;
            }
         }

         .unblockBlock{
            button{
               margin: 25px 0;
            }
         }

         .unblockedBtns{
            display: flex;
            align-items: center;
            gap: 15px;
            margin: 25px 0;

            .sendAndEstimateBtn{
                  color: #fff;
                  background-color: #1890FF;
               }
         }

         .infoText, .infoGlobalProgress, .infoDate, .unblockBlock{
            p{
               font-size: 16px;
               font-weight: 400;
               line-height: 24px;
               color: #8C8C8C;
            }
         }
      }
   }
}


.navMenuAndContentWrapper{
   padding: 0 83px;

.navMenuAndContent{
   max-width: 1440px;
   margin: 0 auto;
   margin-top: 30px;
   display: flex;

   .navMenu{
      width: 25%;
      user-select: none;

      ul{
         list-style: none;
         
         li{
            font-size: 20px;
            font-weight: 500;
            line-height: 24px;
            display: flex;
            align-items: center;
            cursor: pointer;
            width: fit-content;
            padding-left: 25px;
            height: 60px;
            transition: transform 0.2s ease-in-out;

            &:last-child{
               padding-right: 70px;
            }

            svg{
               margin-right: 10px;
               min-width: 24px;
            }
         }

         .activeNavMenuItem{
            border-left: 2px solid #1890FF;
            color: #1890FF;

            svg path{
               fill: #1890FF;
            }
         }
      }
   }

   .content{
      width: 75%;

      h3{
         font-size: 40px;
         font-weight: 500;
         line-height: 46px;
      }

      .instructionText{
         margin: 40px 0;

         p, li{
            font-size: 16px;
            font-weight: 400;
            line-height: 24px;
         }

         ul{
            list-style: none;
            margin-bottom: 25px;

            li{
               display: flex;
               align-items: center;

               svg{
                  margin-right: 15px;
                  min-width: 6px;
               }
            }
         }

         .textWithTitleBlock{
            margin-bottom: 25px;

            h3{
               font-size: 16px;
               font-weight: 600;
               line-height: 24px;
               margin-bottom: 10px;
            }
         }
      }

      .artifactBlock{
         margin: 40px 0;

         p, li{
            font-size: 16px;
            font-weight: 400;
            line-height: 24px;
         }

         ul{
            list-style: none;
            margin-top: 5px;
            
            li{
               display: flex;
               align-items: center;

               svg{
                  margin-right: 15px;
                  min-width: 6px;
               }
            }
         }
      }
      
      .emptyHistory{
         margin-top: 15px;
         margin-bottom: 40px;

         p{
            font-size: 16px;
            font-weight: 400;
            line-height: 24px;
            color: #8C8C8C;
         }
      }

      .unblockedHistory{
         margin-top: 40px;

         .steps{
            display: flex;
            gap: 10px;
            user-select: none;

         &__step{
            display: flex;
            width: calc(25% - 10px* 3/4);

            span{
               width: 32px;
               min-width: 32px;
               height: 32px;
               border-radius: 50%;
               display: flex;
               align-items: center;
               justify-content: center;
               font-size: 14px;
               font-weight: 400;
               line-height: 22px;
               transform: translateY(-5px);
            }
            
            .stepInfo{
               margin-left: 10px;
               width: 100%;

               h3{
                  display: flex;
                  align-items: center;
                  font-size: 16px;
                  font-weight: 400;
                  line-height: 24px;
                  color: #8C8C8C;
                  width: 100%;

                  .activeStepSeparator{
                     height: 1px;
                     flex: 1;
                     background-color: #1890FF;
                     margin-left: 16px;
                  }
                  .stepSeparator{
                     height: 1px;
                     flex: 1;
                     margin-left: 16px;
                  }
               }

               p{
                  font-size: 16px;
                  font-weight: 400;
                  line-height: 22px;
                  color: #8C8C8C;
                  margin-top: 5px;
               }

               .lastStep{
                  margin-top: 0;
               }
            }
         }
         }

         &__btn{
            margin-top: 25px;
            user-select: none;
            
            button{
               height: 40px;
               padding: 0 15px;
               border: none;
               border-radius: 6px;
               font-size: 16px;
               font-weight: 400;
               line-height: 24px;
               cursor: pointer;
               color: #fff;
               background-color: #1890FF;
               transition: transform 0.1s ease-in-out;
            }
         }

         .unblockedPublicationsBlock{
            margin-top: 25px;

            &__inputAndBtns{
               display: flex;
               align-items: center;
               justify-content: space-between;
               margin-top: 40px;
               user-select: none;
               
               input{
                  flex: 1;
                  margin-right: 30px;
                  height: 40px;
                  border: none;
                  outline: none;
                  border-radius: 6px;
                  padding: 0 12px;
                  font-size: 16px;
                  font-weight: 400;
                  line-height: 24px;
   
                  &::placeholder{
                     font-size: 16px;
                     font-weight: 400;
                     line-height: 24px;
                     color: #8C8C8C;
                  }
               }
               
               .btns{
                  display: flex;
                  gap: 10px;
                  align-items: center;
   
                  .attachmentsBlock{
                     height: 65px;
                     display: flex;
                     flex-direction: column;
                     justify-content: center;
                  }
               }
               button{
                  margin-right: 10px;
                  height: 40px;
                  border: none;
                  cursor: pointer;
                  border-radius: 6px;
                  width: 120px;
                  font-size: 16px;
                  font-weight: 400;
                  line-height: 24px;
                  transition: transform 0.2s ease-in-out;
   
                  &:last-child{
                     margin-right: 0;
                  }
               }
   
               .attachments{
                  position: relative;
   
                  &__popup{
                     position: absolute;
                     top: -200px;
                     left: 0;
                     width: 120px;
                     border-radius: 8px;
                     padding: 16px;
                     transition: opacity 0.3s ease-in-out;
                     animation-duration: 0.3s;
                     animation-name: popup-animation;
   
                     ul{
                        list-style: none;
   
                        li{
                           font-size: 16px;
                           font-weight: 400;
                           line-height: 24px;
                           margin-bottom: 20px;
                           text-align: start;
                           cursor: pointer;
   
                           &:last-child{
                              margin-bottom: 0;
                           }
                        }
                     }
                  }
               }
   
               .publication{
                  background-color: #1890FF;
                  color: #fff;
               }
            }

            &__publications{
               margin: 40px 0;
            }
         }
      }
   }
}
}
}

.detailAchievementPage, .darkDetailAchievementPage{
   &__top{
      button:active{
         transform: scale(0.9);
      }
   }

   .content button:active{
      transform: scale(0.9);
   }

   .unblockedPublicationsBlock{
      .attachments:active{
         transform: scale(1);
      }
   }

   .publication:active{
      transform: scale(0.9);
   }

   .content .sendedBtn:active, #sendedBtn:active, #completedSendAndEstimateBtn:active{
      transform: unset;
   }
}

@keyframes popup-animation{
   from {
    opacity: 0;
   }
   to {
    opacity: 1;
   }
 }

@media(hover: hover) and (pointer: fine){
   .detailAchievementPage, .darkDetailAchievementPage{
      &__top{
         .titleBlock{
            &__info{
               .unblockBlock{
                  button:hover{
                     background-color: #00BFFF;
                  }
               }

               .unblockedBtns{
                  .sendAndEstimateBtn:hover{
                        background-color: #00BFFF;
                     }
                  }
            }
         }
      }

      .navMenuAndContentWrapper{
         .navMenuAndContent{
            .navMenu{
               ul li:hover{
                  color: #1890FF;
      
                  svg path{
                     fill: #1890FF;
                  }
               }
            }

            .content{
               .unblockedHistory{
                  &__btn{
                     button:hover{
                        background-color: #00BFFF;
                     }

                     .sendedBtn:hover{
                        background-color: #191919;
                        color: #595959;
                     }
                  }
               }
            }
         }
      }
   }

   .detailAchievementPage{
      &__top{
         .titleBlock{
            &__info{
               .unblockedBtns{
                  .messageBtn:hover{
                        color: #fff;
                        background-color: #262626;
                     }
               }
            }
         }
      }

      .navMenuAndContentWrapper{
         .navMenuAndContent{
            .content{
               .unblockedHistory{
                  &__btn{
                     .sendedBtn:hover{
                        background-color: #F5F5F5;
                        border: 1px solid #D9D9D9;
                        color: #BFBFBF;
                     }
                  }

                  .unblockedPublicationsBlock{
                     &__inputAndBtns{
                        .publication:hover{
                           background-color: #00BFFF;
                        }
            
                        .attachments:hover{
                           background-color: #8C8C8C;
                        }
            
                        .attachments{
                           &__popup ul li:hover{
                              color: #8C8C8C;
                           }
                        }
                     }
                  }
               }
            }
         }
      }
   }

   .darkDetailAchievementPage{
      &__top{
         .titleBlock{
            &__info{
               .unblockedBtns{
                  .messageBtn:hover{
                        color: #191919;
                        background-color: #fff;
                     }
               }
            }
         }
      }

      .navMenuAndContentWrapper{
         .navMenuAndContent{
            .content{
               .unblockedHistory{
                  &__btn{
                     .sendedBtn:hover{
                        background-color: #191919;
                        color: #595959;
                     }
                  }

                  .unblockedPublicationsBlock{
                     &__inputAndBtns{
                        .publication:hover{
                           background-color: #00BFFF;
                        }
            
                        .attachments:hover{
                           background-color: #8C8C8C;
                        }
            
                        .attachments{
                           &__popup ul li:hover{
                              color: #8C8C8C;
                           }
                        }
                     }
                  }
               }
            }
         }
      }
   }
}
@media(max-width: 1350px){
   .detailAchievementPage, .darkDetailAchievementPage{
      &__top{
         padding: 0 50px;
         padding-bottom: 35px;
      }

      .navMenuAndContentWrapper{
         padding: 0 50px;
      }
   }
}

@media(max-width: 1250px){
   .detailAchievementPage, .darkDetailAchievementPage{
      &__top{
         .titleBlock{

            &__img{
               width: 30%;
            }

            &__info{
               width: 70%;
            }
         }
      }

      .navMenuAndContentWrapper{
         .navMenuAndContent{
            .navMenu{
               width: 30%;
            }
      
            .content{
               width: 70%;
            }
         }
      }
   }
}

@media(max-width: 1023px){
   .detailAchievementPage, .darkDetailAchievementPage{
      &__top{
         padding: 0 25px;
         padding-bottom: 35px;
      }
      
      .navMenuAndContentWrapper{
         padding: 0 25px;
      .navMenuAndContent{
         .navMenu{
            display: none;
         }

         .content{
            width: 100%;
         }
      }
   }
   }
}

@media(max-width: 900px){
   .detailAchievementPage, .darkDetailAchievementPage{
      &__top{
         .titleBlock{
            &__img{
               width: 40%;
            }

            &__info{
               width: 60%;
            }
         }
      }
   }
}

@media(max-width: 750px){
   .detailAchievementPage, .darkDetailAchievementPage{
      &__top{
         padding: 0 15px;
         padding-bottom: 35px;
         }

         .titleBlock{
            &__info{
               .infoTitle{
                  h2{
                     font-size: 25px;
                     line-height: 30px;
                  }
            }

            .unblockedBtns{
               flex-direction: column;
               align-items: flex-start;
            }
         }
      }
      .navMenuAndContentWrapper{
         padding: 0 15px;
      .navMenuAndContent{
         .content{
            h3{
               font-size: 25px;
               line-height: 30px;
            }
         }
      }
   }
   }
}

@media(max-width: 700px){
   .detailAchievementPage, .darkDetailAchievementPage{
      &__top{
         .titleBlock{
            display: block;
            text-align: center;

            .unblockedBtns{
               align-items: center;
            }

            &__img, &__info{
               width: 100%;
            }

            .infoTop{
               justify-content: center;
               margin: 10px 0;
            }
         }
      }

      .navMenuAndContentWrapper{
         .navMenuAndContent{
            .content{
               .unblockedHistory{
                  .steps{
                     flex-wrap: wrap;

                     &__step{
                      width: calc(50% - 10px* 1/2);

                      &:first-child, &:nth-child(2){
                        margin-bottom: 20px;
                      }

                      &:nth-child(2){
                        .stepInfo{
                           h3{
                              .stepSeparator, .activeStepSeparator{
                                 display: none;
                              }
                           }
                        }
                      }
                     }
                  }

                  .unblockedPublicationsBlock{
                     &__inputAndBtns{
                        display: block;
                        text-align: end;

                        input{
                           width: 100%;
                           margin-bottom: 20px;
                           margin-right: 0;
                        }
                     }
                  }
               }  
            }
         }
      }
   }
}

@media(max-width: 450px){
   .detailAchievementPage, .darkDetailAchievementPage{
      .navMenuAndContentWrapper{
         .navMenuAndContent{
            .content{
               .unblockedHistory{
                  .steps{
                     &__step{
                        width: 100%;

                        .stepInfo{
                           width: unset;

                           h3{
                              .stepSeparator, .activeStepSeparator{
                                 display: none;
                              }
                           }
                        }
                     }
                  }
               }  
            }
         }
      }
   }
}
