.statisticsCard, .bigStatisticsCard{
   background-color: #FAFAFA;

   .statisticsCardTitle{
      p{
         color: #262626;
      }
   }
}

.darkStatisticsCard, .darkBigStatisticsCard{
   background-color: #191919;

   .statisticsCardTitle{
      p{
         color: #fff;
      }
   }
}

.statisticsCard, .bigStatisticsCard, .darkStatisticsCard, .darkBigStatisticsCard{
   border-radius: 12px;
   padding: 30px;
   height: 275px;
   display: flex;
   flex-direction: column;
   justify-content: space-between;

   .statisticsCardTitle{
      text-align: start;

      p{
         font-size: 20px;
         font-weight: 600;
         line-height: 28px;
      }
   }

   .statisticsCardProgress{
      text-align: end;

      span{
         color: #096DD9;
         font-size: 40px;
         font-weight: 500;
         line-height: 46px;
      }
   }
}

@media(max-width: 1023px){
   .bigStatisticsCard, .statisticsCard, .darkBigStatisticsCard, .darkStatisticsCard{
      .statisticsCardProgress{
         span{
            font-size: 35px;
         }
      }
   }
}

@media(max-width: 800px){
   .bigStatisticsCard, .statisticsCard, .darkBigStatisticsCard, .darkStatisticsCard{
      .statisticsCardProgress{
         span{
            font-size: 30px;
         }
      }
   }
}

@media(max-width: 550px){
   .bigStatisticsCard, .statisticsCard, .darkBigStatisticsCard, .darkStatisticsCard{
      .statisticsCardProgress{
         span{
            font-size: 25px;
            line-height: 35px;
         }
      }
   }
}