.statisticsCard, .bigStatisticsCard{
   background-color: #FAFAFA;

   .statisticsCardTitle{
      p{
         color: #262626;
      }
   }
}

.darkStatisticsCard, .darkBigStatisticsCard{
   background-color: #191919;

   .statisticsCardTitle{
      p{
         color: #fff;
      }
   }
}

.statisticsCard, .bigStatisticsCard, .darkStatisticsCard, .darkBigStatisticsCard{
   border-radius: 12px;
   padding: 30px;
   height: 275px;
   display: flex;
   flex-direction: column;
   justify-content: space-between;
   position: relative;
   

   .activeProgressFill{
      position: absolute;
      bottom:0;
      left:0;
      width: 100%;
      background-color: #096DD9;
      border-radius: 0px 0px 12px 12px;
      z-index: 20;
      display: flex;
      flex-direction: column;
      justify-content: flex-end;
      overflow: hidden;

      .activeProgressText{
         font-size: 40px;
         font-weight: 500;
         line-height: 46px;
         color: #fafafa;
         z-index: 10;
         display: block;
         transform: translateY(-30px);
         text-align: end;
         margin-right: 30px;
      }
   }

   .statisticsCardTitle{
      text-align: start;

      p{
         font-size: 20px;
         font-weight: 600;
         line-height: 28px;
      }
   }

   .statisticsCardProgress{
      span{
         color: #096DD9;
         font-size: 40px;
         font-weight: 500;
         line-height: 46px;
         display: block;
         text-align: end;
         z-index: 30;
      }
   }
}

@media(max-width: 1023px){
   .bigStatisticsCard, .statisticsCard, .darkBigStatisticsCard, .darkStatisticsCard{
      .statisticsCardProgress{
         span{
            font-size: 35px;
         }
      }

      .activeProgressFill{
         .activeProgressText{
            font-size: 35px;
         }
      }
   }
}

@media(max-width: 800px){
   .bigStatisticsCard, .statisticsCard, .darkBigStatisticsCard, .darkStatisticsCard{
      .statisticsCardProgress{
         span{
            font-size: 30px;
         }
      }

      .activeProgressFill{
         .activeProgressText{
            font-size: 30px;
         }
      }
   }
}

@media(max-width: 650px){
   .bigStatisticsCard, .statisticsCard, .darkBigStatisticsCard, .darkStatisticsCard{
      .statisticsCardProgress{
         span{
            font-size: 14px;
            line-height: 18px;
         }
      }

      .activeProgressFill{
         .activeProgressText{
            font-size: 14px;
            line-height: 18px;
         }
      }

      .statisticsCardTitle{
         p{
            font-size: 11px;
            line-height: 14px;
         }
      }
   }
}

@media(max-width: 450px){
   .statisticsCard, .bigStatisticsCard, .darkStatisticsCard, .darkBigStatisticsCard{
      height: 230px;
      padding: 15px;
   }
}

@media(max-width: 400px){
   .statisticsCard, .bigStatisticsCard, .darkStatisticsCard, .darkBigStatisticsCard{
      height: 160px;
   }
}