.darkAchievementItem{
   &__title{
      p{
         color: #fff;
      }
   }

   &__gold{
      span{
         color: #fff;
      }

      svg path{
         fill: #fff;
      }
   }
}

.achievementItem{
   &__title{
      p{
         color: #262626;
      }
   }

   &__gold{
      span{
         color: #262626;
      }
   }
}

.achievementItem, .darkAchievementItem{
   text-align: center;
   transition: transform 0.1s ease-in-out;
   cursor: pointer;
   user-select: none;
   padding-top: 20px;
   position: relative;

   .availableAchievementItem__img{
      margin: 0 auto;
      position: relative;
      display: flex;
      justify-content: center;

      &::after{
         content: '';
         position: absolute;
         top: 50%;
         left: 50%;
         width: 24px;
         height: 24px;
         background-image: url(../../../public/img/achievementLock.svg);
         transform: translate(-50%, -50%);
      }

      img{
         border-radius: 50%;
         filter: blur(10px) drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
      }
   }

   .unlockedAchievementItem__img{
      margin: 0 auto;
      position: relative;
      display: flex;
      justify-content: center;

      img{
         border-radius: 50%;
      }
   }

   &__title{
      display: flex;
      justify-content: center;
      margin-top: 7px;

      p{
         font-size: 16px;
         font-weight: 600;
         line-height: 24px;
         max-width: 130px;
      }
   }  

   &__gold{
      margin-top: 5px;
      display: flex;
      align-items: center;
      justify-content: center;

      span{
         font-size: 16px;
         font-weight: 500;
         line-height: 24px;
         margin-left: 5px;
      }
   }
}

.achievementBlock{
   position: relative;
   cursor: default;

   .bottomTreeElement{
      position: absolute;
      top: 280px;
      left: 50%;
      width: 3px;
      border-radius: 4px;
      background-color: #bfbfbf;
   }

   .bottomMiniTreeElement{
      position: absolute;
      top: 280px;
      left: 50%;
      width: 3px;
      border-radius: 4px;
      background-color: #bfbfbf;
      height: 48px;
   }

   .topMiniTreeElement{
      position: absolute;
      top: -55px;
      left: 50%;
      width: 3px;
      border-radius: 4px;
      background-color: #bfbfbf;
      height: 48px;
   }

   .longBottomRightTreeElement{
      position: absolute;
      top: 325px;
      left: 50%;
      width: 192px;
      border-radius: 4px;
      background-color: #bfbfbf;
      height: 3px;
   }

   .longBottomLeftTreeElement{
      position: absolute;
      top: 325px;
      right: 50%;
      width: 192px;
      border-radius: 4px;
      background-color: #bfbfbf;
      height: 3px;
   }

   .longTopRightTreeElement{
      position: absolute;
      top: -55px;
      left: 50%;
      width: 192px;
      border-radius: 4px;
      background-color: #bfbfbf;
      height: 3px;
   }

   .longTopLeftTreeElement{
      position: absolute;
      top: -55px;
      right: 50%;
      width: 192px;
      border-radius: 4px;
      background-color: #bfbfbf;
      height: 3px;
   }

   .rightTreeElement{
      position: absolute;
      top: 50%;
      left: 165px;
      border-radius: 4px;
      background-color: #bfbfbf;
      height: 3px;
   }

   .leftTreeElement{
      position: absolute;
      top: 50%;
      right: 165px;
      border-radius: 4px;
      background-color: #bfbfbf;
      height: 3px;
   }
}

// .achievementBlock{
//    position: relative;

//    .soloBottomTreeElement{
//       position: absolute;
//       left: 50%;
//       bottom: -115px;
//    }

//    .soloLeftTreeElement{
//       position: absolute;
//       left: -15px;
//       bottom: 50%;
//    }

//    .soloRightTreeElement{
//       position: absolute;
//       right: -15px;
//       bottom: 50%;
//    }

//    .tripleBottomTreeElement{
//       position: absolute;
//       left: 52%;
//       bottom: -120px;
//    }

//    .tripleTopTreeElement{
//       position: absolute;
//       left: 52%;
//       top: -100px;
//    }

//    .quintupleTopTreeElement{
//       position: absolute;
//       left: 59%;
//       top: -100px;
//    }

//    .infiniteTreeElement{
//       position: absolute;
//       left: 50%;
//       top: 300px;
//       width: 3px;
//       border-radius: 4px;
//       background-color: #bfbfbf;
//    }
// }


@media(hover: hover) and (pointer: fine){
   .achievementItem:hover, .darkAchievementItem:hover{
      transform: translateY(5px);
   }
}

