.mainBlockTitle{
   margin-top: 65px;
   margin-bottom: 30px;
   display: flex;
   align-items: center;
   justify-content: space-between;
   padding: 0 83px;
   user-select: none;

   h3{
      font-size: 40px;
      font-weight: 500;
      line-height: 46px;
      margin-right: 10px;
   }

   p{
      font-size: 16px;
      font-weight: 400;
      line-height: 24px;
      color: #1890FF;
      cursor: pointer;
      transition: transform 0.1s ease-in-out;
      white-space: nowrap;
   }
}

.mainBlockTitle p:active{
   transform: scale(0.9);
}

@media(hover: hover) and (pointer: fine){
   .mainBlockTitle p:hover{
      color: #00BFFF;
   }
}

@media(max-width: 1350px){
   .mainBlockTitle{
      padding: 0 50px;
   }
}

@media(max-width: 1023px){
   .mainBlockTitle{
      padding: 0 25px;
   }
}

@media(max-width: 750px){
   .mainBlockTitle{
      padding: 0 15px;

      h3{
         font-size: 25px;
         line-height: 30px;
      }

      p{
         text-align: center;
      }
   }
}

@media(max-width: 500px){
   .mainBlockTitle{
      h3{
         font-size: 20px;
         line-height: 25px;
      }
   }
}