.detailCard{
   &__top{
      background-color: #FAFAFA;

      .titleBlock{
         &__info{
            h2{
               color: #262626;
            }

            .infoBottom{
               &__gold, &__rating{
                  span{
                     color: #262626;
                  }
               }
            }
         }
      }
   }

   .navMenuAndContentWrapper{
   .navMenuAndContent{
      .navMenu{
         ul{
            li{
               color: #262626;
            }
         }
      }

      .content{
         h3{
            color: #262626;
         }

         &__inputAndBtns{

            input{
               color: #262626;
            }

            .attachments{
               background-color: #262626;
               color: #fff;

               &__popup{
                  background-color: #262626;

                  ul{
                     li{
                        color: #fff;
                     }
                  }
               }
            }
         }

         .achievementsTop{
            &__right{
               .achievementsTop__rightFilters{
                  button{
                     background-color: #fff;
                  }
               }
            }
         }

         .projectsTop{
            button{
               border: 1px solid #1890FF;
               color: #1890FF;
            }
         }

         .projectsFilters{
            &__left{
               button{
                  background-color: #fff;
                  color: #262626;
               }
            }

            &__right{
               button{
                  color: #262626;
                  background-color: none;
               }
            }
         }

         .statisticsFilters{
            button{
               background-color: #fff;
               color: #262626;
            }
         }
      }
   }
}
}

.darkDetailCard{
   &__top{
      background-color: #191919;

      .titleBlock{
         &__info{
            h2{
               color: #fff;
            }

            .infoBottom{
               &__gold, &__rating{
                  span{
                     color: #fff;
                  }

                  svg path{
                     fill : #fff;
                  }
               }
            }
         }
      }
   }

   .navMenuAndContentWrapper{
   .navMenuAndContent{
      .navMenu{
         ul{
            li{
               color: #fff;

               svg path{
                  fill: #fff;
               }
            }
         }
      }

      .content{
         h3{
            color: #fff;
         }

         &__inputAndBtns{
            input{
               background-color: #191919;
               color: #fff;
            }

            .attachments{
               background-color: #D9D9D9;
               color: #191919;

               &__popup{
                  background-color: #D9D9D9;

                  ul{
                     li{
                        color: #191919;
                     }
                  }
               }
            }
         }

         .achievementsTop{
            &__right{
               .achievementsTop__rightFilters{
                  button{
                     background-color: #191919;

                     svg path{
                        fill: #fff;
                     }
                  }
               }
            }
         }

         .projectsTop{
            button{
               border: none;
               color: #fff;
               background-color: #191919;

               svg path{
                  fill: #fff;
               }
            }
         }

         .projectsFilters{
            &__left{
               button{
                  background-color: #191919;
                  color: #fff;
                  
                  svg path{
                     fill: #fff;
                  }
               }
            }

            &__right{
               button{
                  color: #fff;
                  background-color: #0D0D0D;

                  svg path{
                     fill: #fff;
                  }
               }
            }
         }

         .statisticsFilters{
            button{
               color: #fff;
               background-color: #191919;

               svg path{
                  fill: #fff;
               }
            }
         }

         .statisticsTitle{
            .statisticsSelectedItem{
               svg path{
                  fill: #fff;
               }
            }
         }

         .membersTop{
            svg path{
              fill: #fff; 
            }
         }
      }
   }
}
}

.detailCard, .darkDetailCard{
   &__top{
      padding: 0 83px;
      box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.1);
      padding-bottom: 35px;
      user-select: none;

      .backBtn{
         max-width: 1440px;
         margin: 0 auto;
      }

      .titleBlock{
         max-width: 1440px;
         margin: 0 auto;
         margin-top: 25px;
         display: flex;
         align-items: center;

         &__img{
            border-radius: 16px;
            width: 25%;

            img{
               border-radius: 16px;
            }
         }

         &__info{
            width: 75%;
            max-width: 770px;

            .infoTop{
               font-size: 16px;
               font-weight: 500;
               line-height: 24px;
               color: #8C8C8C;
            }

            h2{
               font-size: 40px;
               font-weight: 500;
               line-height: 46px;
            }

            p{
               margin-top: 15px;
               font-size: 16px;
               font-weight: 400;
               line-height: 24px;
               color: #8C8C8C;
            }

            .infoBottom{
               display: flex;
               align-items: center;
               margin-top: 25px;

               &__goldAndRating{
                  display: flex;
                  align-items: center;
               }

               &__gold, &__rating{
                  display: flex;
                  align-items: center;

                  span{
                     margin-left: 5px;
                     font-size: 16px;
                     font-weight: 500;
                     line-height: 24px;
                  }
               }

               &__rating{
                  margin-left: 15px;
                  margin-right: 23px;
               }

               button{
                  background-color: #1890FF;
                  border-radius: 6px;
                  height: 40px;
                  padding: 0 15px;
                  font-size: 16px;
                  font-weight: 400;
                  line-height: 24px;
                  color: #fff;
                  border: none;
                  cursor: pointer;
                  transition: transform 0.2s ease-in-out;
               }
            }
         }
      }
   }

   .navMenuAndContentWrapper{
      padding: 0 83px;

   .navMenuAndContent{
      max-width: 1440px;
      margin: 0 auto;
      margin-top: 30px;
      display: flex;

      .navMenu{
         width: 25%;
         user-select: none;

         ul{
            list-style: none;
            
            li{
               font-size: 20px;
               font-weight: 500;
               line-height: 24px;
               display: flex;
               align-items: center;
               cursor: pointer;
               width: fit-content;
               padding-left: 25px;
               height: 60px;
               transition: transform 0.2s ease-in-out;

               svg{
                  margin-right: 10px;
               }
            }

            .activeNavMenuItem{
               border-left: 2px solid #1890FF;
               color: #1890FF;

               svg path{
                  fill: #1890FF;
               }
            }
         }
      }

      .content{
         width: 75%;

         h3{
            font-size: 40px;
            font-weight: 500;
            line-height: 46px;
         }

         &__inputAndBtns{
            display: flex;
            justify-content: space-between;
            margin-top: 40px;
            user-select: none;
            
            input{
               flex: 1;
               margin-right: 30px;
               height: 40px;
               border: none;
               outline: none;
               border-radius: 6px;
               padding: 0 12px;
               font-size: 16px;
               font-weight: 400;
               line-height: 24px;

               &::placeholder{
                  font-size: 16px;
                  font-weight: 400;
                  line-height: 24px;
                  color: #8C8C8C;
               }
            }

            button{
               margin-right: 10px;
               height: 40px;
               border: none;
               cursor: pointer;
               border-radius: 6px;
               width: 120px;
               font-size: 16px;
               font-weight: 400;
               line-height: 24px;
               transition: transform 0.2s ease-in-out;

               &:last-child{
                  margin-right: 0;
               }
            }

            .attachments{
               position: relative;

               &__popup{
                  position: absolute;
                  top: -200px;
                  left: 0;
                  width: 120px;
                  border-radius: 8px;
                  padding: 16px;

                  ul{
                     list-style: none;

                     li{
                        font-size: 16px;
                        font-weight: 400;
                        line-height: 24px;
                        margin-bottom: 20px;
                        text-align: start;
                        cursor: pointer;

                        &:last-child{
                           margin-bottom: 0;
                        }
                     }
                  }
               }
            }

            .publication{
               background-color: #1890FF;
               color: #fff;
            }
         }
         
         .publicationsBlock{
            margin: 40px 0;
         }

         .achievementsTop{
            display: flex;
            align-items: center;
            justify-content: space-between;
            user-select: none;

            &__right{
               display: flex;
               align-items: center;
               gap: 10px;

               .achievementsTop__rightFilters{
                  display: flex;
                  align-items: center;
                  gap: 10px;

                  button{
                     height: 40px;
                     width: 40px;
                     border: none;
                     border-radius: 6px;
                     cursor: pointer;
                     display: flex;
                     align-items: center;
                     justify-content: center;
                     transition: transform 0.1s ease-in-out;
                  }
               }

               .achievementsTop__rightCompare{
                  button{
                     height: 40px;
                     padding: 0 30px;
                     background-color: #1890FF;
                     border: none;
                     border-radius: 6px;
                     font-size: 16px;
                     font-weight: 400;
                     line-height: 24px;
                     color: #fff;
                     cursor: pointer;
                     transition: transform 0.1s ease-in-out;
                  }
               }
            }
         }

         .achievementsItems{
            display: flex;
            flex-wrap: wrap;
            gap: 25px;
            margin: 40px 0;

            .achievementsItem{
               width: calc(20% - 25px* 4/5);
            }
         }

         .membersTop{
            display: flex;
            align-items: center;
            cursor: pointer;
            width: fit-content;

            svg{
               margin-left: 10px;
               margin-top: 5px;
            }
         }

         .membersItems{
            display: flex;
            flex-wrap: wrap;
            gap: 25px;
            margin: 40px 0;

            .membersItem{
               width: calc(33.3% - 25px* 2/3);
            }
         }

         .projectsTop{
            display: flex;
            align-items: center;
            justify-content: space-between;

            button{
               display: flex;
               align-items: center;
               border-radius: 6px;
               font-size: 16px;
               font-weight: 400;
               line-height: 24px;
               cursor: pointer;
               height: 40px;
               padding: 0 15px;
               transition: transform 0.1s ease-in-out;
               user-select: none;

               svg{
                  margin-right: 10px;
               }
            }
         }

         .projectsFilters{
            display: flex;
            align-items: center;
            justify-content: space-between;
            margin-top: 30px;
            user-select: none;

            &__left{
               display: flex;
               align-items: center;
               gap: 15px;
               flex-wrap: wrap;
               

               button{
                  border: none;
                  border-radius: 6px;
                  height: 32px;
                  padding: 0 15px;
                  display: flex;
                  align-items: center;
                  font-size: 14px;
                  font-weight: 400;
                  line-height: 22px;
                  cursor: pointer;
                  transition: transform 0.1s ease-in-out;

                  svg{
                     margin-left: 8px;
                  }
               }
            }

            &__right{
               button{
                  border: none;
                  display: flex;
                  align-items: center;
                  font-size: 14px;
                  font-weight: 400;
                  line-height: 22px;
                  cursor: pointer;
                  white-space: nowrap;
                  margin-left: 10px;
                  transition: transform 0.1s ease-in-out;

                  svg{
                     margin-left: 8px;
                  }
               }
            }
         }

         .projectsItems{
            margin-top: 25px;
            margin-bottom: 40px;
         }

         .statisticsTitle{
            display: flex;
            align-items: center;
            user-select: none;
            cursor: pointer;
            width: fit-content;

            .statisticsSelectedItem{
               display: flex;
               align-items: center;
               margin-left: 10px;

               svg{
                  margin-left: 10px;
                  margin-top: 5px;
               }
            }
         }

         .statisticsFilters{
            display: flex;
            align-items: center;
            gap: 15px;
            margin-top: 40px;
            flex-wrap: wrap;
            user-select: none;

            button{
               border: none;
               border-radius: 6px;
               height: 32px;
               padding: 0 15px;
               display: flex;
               align-items: center;
               font-size: 14px;
               font-weight: 400;
               line-height: 22px;
               cursor: pointer;
               transition: transform 0.1s ease-in-out;

               svg{
                  margin-left: 8px;
               }
            }
         }

         .statisticsItems{
            display: flex;
            align-items: center;
            flex-wrap: wrap;
            gap: 25px;
            margin-top: 25px;
            margin-bottom: 40px;

            .statisticsItem{
               width: calc(33.3% - 25px* 2/3);
            }

            .statisticsItemBig{
               width: calc(66.6% - 25px* 1/3);
            }
         }
      }
   }
}
}

.infoBottom button:active, .content__inputAndBtns button:active, .navMenu ul li:active, .achievementsTop button:active, .projectsFilters button:active, .projectsTop button:active, .statisticsFilters button:active{
   transform: scale(0.9);
}

@media(hover: hover) and (pointer: fine){
   .detailCard, .darkDetailCard{
      &__top{
         .infoBottom{
            button:hover{
               background-color: #00BFFF;
            }
         }
      }

      .navMenuAndContentWrapper{
         .navMenuAndContent{
            .content{
               &__inputAndBtns{
                  .publication:hover{
                     background-color: #00BFFF;
                  }
      
                  .attachments:hover{
                     background-color: #8C8C8C;
                  }
      
                  .attachments{
                     &__popup ul li:hover{
                        color: #8C8C8C;
                     }
                  }
               }
      
               .achievementsTop{
                  &__right{
                     .achievementsTop__rightFilters{
                        button:hover{
                           background-color: #00BFFF;
      
                           svg path{
                              fill: #fff;
                           }
                        }
                     }
      
                     .achievementsTop__rightCompare{
                        button:hover{
                           background-color: #00BFFF;
                        }
                     }
                  }
               }
      
               .projectsTop button:hover{
                  background-color: #00BFFF;
                  border-color: #00BFFF;
                  color: #fff;
      
                  svg path{
                     fill: #fff;
                  }
               }
      
               .projectsFilters button:hover, .statisticsFilters button:hover{
                  color: #8C8C8C;
      
                  svg path{
                     fill: #8C8C8C;
                  }
               }
            }
      
            .navMenu{
               ul li:hover{
                  color: #1890FF;
      
                  svg path{
                     fill: #1890FF;
                  }
               }
            }
         }
      }
   }
}

 @media(max-width: 1350px){
   .detailCard, .darkDetailCard{
      &__top{
         padding: 0 50px;
         padding-bottom: 35px;
      }
      .navMenuAndContentWrapper{
         padding: 0 50px;
   }
   }
}

@media(max-width: 1250px){
   .detailCard, .darkDetailCard{
      &__top{
         .titleBlock{

            &__img{
               width: 30%;
            }

            &__info{
               width: 70%;
            }
         }
      }
   }
   
   .detailCard, .darkDetailCard{
      .navMenuAndContentWrapper{
      .navMenuAndContent{
         .navMenu{
            width: 30%;
         }
   
         .content{
            width: 70%;

            .statisticsItems{
                  .statisticsItem{
                     width: calc(50% - 25px* 1/2);
                  }
               
                  .statisticsItemBig{
                     width: 100%;
                  }
            }
         }
      }
   }
   }
}

@media(max-width: 1200px){
   .detailCard, .darkDetailCard{
      .navMenuAndContentWrapper{
      .navMenuAndContent{
            .content{
               .achievementsItems{
                  .achievementsItem{
                     width: calc(25% - 25px* 3/4);
                  }
               }
            }
      }
   }
   }
}

@media(max-width: 1150px){
   .detailCard, .darkDetailCard{
      .navMenuAndContentWrapper{
      .navMenuAndContent{
            .content{
               .membersItems{
                  .membersItem{
                     width: calc(50% - 25px* 1/2);
                  }
               }
            }
      }
   }
   }
}

@media(max-width: 1023px){
   .detailCard, .darkDetailCard{
      &__top{
         padding: 0 25px;
         padding-bottom: 35px;
      }

      .navMenuAndContentWrapper{
         padding: 0 25px;
      .navMenuAndContent{
         .navMenu{
            display: none;
         }

         .content{
            width: 100%;

            .achievementsItems{
               .achievementsItem{
                  width: calc(20% - 25px* 4/5);
               }
            }

            .membersItems{
               .membersItem{
                  width: calc(33.3% - 25px* 2/3);
               }
            }

            .projectsFilters, .statisticsFilters{
               display: none;
            }
         }
      }
   }
   }
}

@media(max-width: 900px){
   .detailCard, .darkDetailCard{
      &__top{
         .titleBlock{

            &__img{
               width: 40%;
            }

            &__info{
               width: 60%;
            }
         }
      }
   }
}

@media(max-width: 800px){
   .detailCard, .darkDetailCard{
      .navMenuAndContentWrapper{
      .navMenuAndContent{
            .content{
               .achievementsItems{
                  .achievementsItem{
                     width: calc(25% - 25px* 3/4);
                  }
               }

               .membersItems{
                  .membersItem{
                     width: calc(50% - 25px* 1/2);
                  }
               }
            }
      }
   }
   }
}

@media(max-width: 750px){
   .detailCard, .darkDetailCard{
      &__top{
         padding: 0 15px;
         padding-bottom: 35px;

         .titleBlock{

            &__info{
               h2{
                  font-size: 25px;
                  line-height: 30px;
               }
            }
         }
      }
      .navMenuAndContentWrapper{
         padding: 0 15px;
      .navMenuAndContent{
         .content{
            h3{
               font-size: 25px;
               line-height: 30px;
            }

            .membersTop{
               svg{
                  width: 18px;
                  height: 18px;
               }
            }

            .statisticsTitle{
               .statisticsSelectedItem{
                  svg{
                     width: 17px;
                     height: 17px;
                  }
               }
            }
         }
      }
   }
   }
}

@media(max-width: 700px){
   .detailCard, .darkDetailCard{
      &__top{
         .titleBlock{
            display: block;
            text-align: center;

            &__img, &__info{
               width: 100%;
            }

            .infoBottom{
               justify-content: center;
            }
         }
      }
      .navMenuAndContentWrapper{
      .navMenuAndContent{
         .content{
            &__inputAndBtns{
               display: block;

               input{
                  width: 100%;
                  margin-right: 0;
               }
            }

            &__btns{
               display: flex;
               justify-content: flex-end;
               margin-top: 20px;
            }
         }   
      }  
   }
   }
}

@media(max-width: 650px){
   .detailCard, .darkDetailCard{
      .navMenuAndContentWrapper{
      .navMenuAndContent{
            .content{
               .achievementsItems{
                  .achievementsItem{
                     width: calc(33.3% - 25px* 2/3);
                  }
               }
            }
      }
   }
   }
}

@media(max-width: 550px){
   .detailCard, .darkDetailCard{
      .navMenuAndContentWrapper{
      .navMenuAndContent{
            .content{
               .membersItems{
                  .membersItem{
                     width: 100%;
                  }
               }

               .statisticsItems{
                  .statisticsItem{
                     width: 100%;
                  }
            }
            }
      }
   }
   }
}

@media(max-width: 500px){
   .detailCard, .darkDetailCard{
      .navMenuAndContentWrapper{
      .navMenuAndContent{
            .content{
               .achievementsItems{
                  .achievementsItem{
                     width: calc(50% - 25px* 1/2);
                  }
               }
            }
      }
   }
   }
}

@media(max-width: 450px){
   .detailCard, .darkDetailCard{
      &__top{
         .titleBlock{
            &__info{
               .infoBottom{

                  display: block;
                 
                  &__goldAndRating{
                     justify-content: center;
                     margin-bottom: 15px;
                  }

                  &__rating{
                     margin: 0;
                     margin-left: 15px;
                  }
               }
            }
         }
      }

      .navMenuAndContentWrapper{
      .navMenuAndContent{
         .content{
            .achievementsTop{
               display: block;

               &__right{
                  justify-content: flex-end;
                  margin-top: 15px;
               }
            }
         }
      }
   }
   }
}

@media(max-width: 370px){
.detailCard, .darkDetailCard{
   .navMenuAndContentWrapper{
   .navMenuAndContent{
      .content{
         .projectsTop{
            display: block;

            button{
               margin-top: 10px;
            }
         }
      }
   }
}
}
}
