.detailCard{
   &__top{
      background-color: #FAFAFA;

      .titleBlock{
         &__info{
            h2{
               color: #262626;
            }

            .infoBottom{
               &__gold, &__rating{
                  span{
                     color: #262626;
                  }
               }

               .ratingOfMembersBtn{
                  background-color: #fff;
                  color: #1890FF;
                  border: 1px solid #1890FF;
               }
            }

            .dateAndLinks{
               span{
                  color: #262626;
               }
            }
         }
      }
   }

   .navMenuAndContentWrapper{
   .navMenuAndContent{
      .navMenu{
         ul{
            li{
               color: #262626;
            }
         }
      }

      .content{
         h3{
            color: #262626;
         }

         &__inputAndBtns{

            input{
               color: #262626;
            }

            .attachments{
               background-color: #262626;
               color: #fff;

               &__popup{
                  background-color: #262626;

                  ul{
                     li{
                        color: #fff;
                     }
                  }
               }
            }
         }

         .achievementsTop{
            &__right{
               .achievementsTop__rightFilters{
                  button{
                     background-color: #fff;

                     .achievementsFilterPopup{
                        background-color: #fafafa;
                     }
                  }
               }
            }
         }

         .projectsTop{
            button{
               border: 1px solid #1890FF;
               color: #1890FF;
            }
         }

         .projectsFilters{
            &__left{
               button{
                  background-color: #fff;
                  color: #262626;
               }
            }

            &__right{
               button{
                  color: #262626;
                  background-color: none;

                  .rightFilterPopup{
                     background-color: #fafafa;
                  }
               }
            }
         }

         .statisticsFilters{
            button{
               background-color: #fff;
               color: #262626;
            }
         }

         .statisticsTitle{
            .statisticsBlockPopup{
               background-color: #fafafa;
            }
         }

         .membersTop{
            .membersBlockPopup{
               background-color: #fafafa;
            }
         }
      }
   }
}
}

.darkDetailCard{
   &__top{
      background-color: #191919;

      .titleBlock{
         &__info{
            h2{
               color: #fff;
            }

            .infoBottom{
               &__gold, &__rating{
                  span{
                     color: #fff;
                  }

                  svg path{
                     fill : #fff;
                  }
               }

               .ratingOfMembersBtn{
                  background-color: #191919;
                  color: #fff;
                  border: 1px solid #fff;
               }
            }

            .dateAndLinks{
               span{
                  color: #fff;
               }
            }
         }
      }
   }

   .navMenuAndContentWrapper{
   .navMenuAndContent{
      .navMenu{
         ul{
            li{
               color: #fff;

               svg path{
                  fill: #fff;
               }
            }
         }
      }

      .content{
         h3{
            color: #fff;
         }

         &__inputAndBtns{
            input{
               background-color: #191919;
               color: #fff;
            }

            .attachments{
               background-color: #191919;
               color: #fff;

               &__popup{
                  background-color: #D9D9D9;

                  ul{
                     li{
                        color: #191919;
                     }
                  }
               }
            }
         }

         .achievementsTop{
            &__right{
               .achievementsTop__rightFilters{
                  button{
                     background-color: #191919;

                     svg path{
                        fill: #fff;
                     }

                     .achievementsFilterPopup{
                        background-color: #d9d9d9;
                     }
                  }
               }
            }
         }

         .projectsTop{
            button{
               border: none;
               color: #fff;
               background-color: #191919;

               svg path{
                  fill: #fff;
               }
            }
         }

         .projectsFilters{
            &__left{
               button{
                  background-color: #191919;
                  color: #fff;
                  
                  svg path{
                     fill: #fff;
                  }
               }
            }

            &__right{
               button{
                  color: #fff;
                  background-color: #0D0D0D;

                  svg path{
                     fill: #fff;
                  }

                  .rightFilterPopup{
                     background-color: #d9d9d9;
                  }
               }
            }
         }

         .statisticsFilters{
            button{
               color: #fff;
               background-color: #191919;

               svg path{
                  fill: #fff;
               }
            }
         }

         .statisticsTitle{ 
               svg path{
                  fill: #fff;
               }

               .statisticsBlockPopup{
                  background-color: #d9d9d9;
               }
         }

         .membersTop{
            svg path{
              fill: #fff; 
            }

            .membersBlockPopup{
               background-color: #d9d9d9;
            }
         }
      }
   }
}
}

.detailCard, .darkDetailCard{
   &__top{
      padding: 0 83px;
      box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.1);
      padding-bottom: 35px;
      user-select: none;

      .backBtn{
         max-width: 1440px;
         margin: 0 auto;
      }

      .titleBlock{
         max-width: 1440px;
         margin: 0 auto;
         margin-top: 25px;
         display: flex;
         align-items: center;

         &__img{
            border-radius: 16px;
            width: 25%;

            img{
               border-radius: 16px;
            }
         }

         &__info{
            width: 75%;
            max-width: 770px;

            .infoTop{
               font-size: 16px;
               font-weight: 500;
               line-height: 24px;
               color: #8C8C8C;
            }

            h2{
               font-size: 40px;
               font-weight: 500;
               line-height: 46px;
            }

            p{
               margin-top: 15px;
               font-size: 16px;
               font-weight: 400;
               line-height: 24px;
               color: #8C8C8C;
            }

            .dateAndLinks{
               display: flex;
               align-items: center;
               margin-top: 15px;

               span{
                  margin-right: 16px;
                  font-size: 16px;
                  font-weight: 500;
                  line-height: 24px;
               }

               &__links{
                  display: flex;
                  align-items: center;

                  a{
                     font-size: 16px;
                     font-weight: 500;
                     color: #096DD9;
                     text-decoration: none;
                     border-right: 1px solid #096DD9;
                     margin-right: 10px;
                     padding-right: 10px;
   
                     &:last-child{
                        border: none;
                        margin: 0;
                        padding: 0;
                     }
                  }
               }
            }

            .infoBottom{
               display: flex;
               align-items: center;
               margin-top: 25px;

               &__goldAndRating{
                  display: flex;
                  align-items: center;
               }

               &__gold, &__rating{
                  display: flex;
                  align-items: center;

                  span{
                     margin-left: 5px;
                     font-size: 16px;
                     font-weight: 500;
                     line-height: 24px;
                  }
               }

               &__rating{
                  margin-left: 15px;
                  margin-right: 23px;
               }

               button{
                  border-radius: 6px;
                  height: 40px;
                  padding: 0 15px;
                  font-size: 16px;
                  font-weight: 400;
                  line-height: 24px;
                  border: none;
                  cursor: pointer;
                  transition: transform 0.2s ease-in-out;
               }

               .aboutGameBtn{
                  background-color: #1890FF;
                  color: #fff;
               }

               .ratingOfMembersBtn{
                  margin-left: 15px;
               }
            }
         }
      }
   }

   .navMenuAndContentWrapper{
      padding: 0 83px;

   .navMenuAndContent{
      max-width: 1440px;
      margin: 0 auto;
      margin-top: 30px;
      display: flex;

      .navMenu{
         width: 25%;
         user-select: none;

         ul{
            list-style: none;
            
            li{
               font-size: 20px;
               font-weight: 500;
               line-height: 24px;
               display: flex;
               align-items: center;
               cursor: pointer;
               width: fit-content;
               padding-left: 25px;
               height: 60px;
               transition: transform 0.2s ease-in-out;

               svg{
                  margin-right: 10px;
               }
            }

            .activeNavMenuItem{
               border-left: 2px solid #1890FF;
               color: #1890FF;

               svg path{
                  fill: #1890FF;
               }
            }
         }
      }

      .content{
         width: 75%;

         h3{
            font-size: 40px;
            font-weight: 500;
            line-height: 46px;
         }

         &__inputAndBtns{
            display: flex;
            align-items: center;
            justify-content: space-between;
            margin-top: 25px;
            user-select: none;
            
            input{
               flex: 1;
               margin-right: 30px;
               height: 40px;
               border: none;
               outline: none;
               border-radius: 6px;
               padding: 0 12px;
               font-size: 16px;
               font-weight: 400;
               line-height: 24px;

               &::placeholder{
                  font-size: 16px;
                  font-weight: 400;
                  line-height: 24px;
                  color: #8C8C8C;
               }
            }
            .content__btns{
               display: flex;
               gap: 10px;
               align-items: center;

               .attachmentsBlock{
                  height: 65px;
                  display: flex;
                  flex-direction: column;
                  justify-content: center;
               }
            }
            button{
               height: 40px;
               border: none;
               cursor: pointer;
               border-radius: 6px;
               width: 120px;
               font-size: 16px;
               font-weight: 400;
               line-height: 24px;
               transition: transform 0.2s ease-in-out;
            }

            .attachments{
               position: relative;

               &__popup{
                  position: absolute;
                  top: -200px;
                  left: 0;
                  width: 120px;
                  border-radius: 8px;
                  padding: 16px;
                  transition: opacity 0.3s ease-in-out;
                  animation-duration: 0.3s;
                  animation-name: popup-animation;

                  ul{
                     list-style: none;

                     li{
                        font-size: 16px;
                        font-weight: 400;
                        line-height: 24px;
                        margin-bottom: 20px;
                        text-align: start;
                        cursor: pointer;

                        &:last-child{
                           margin-bottom: 0;
                        }
                     }
                  }
               }
            }

            .publication{
               background-color: #1890FF;
               color: #fff;
            }
         }
         
         .publicationsBlock{
            margin: 40px 0;
         }

         .achievementsTop{
            display: flex;
            align-items: center;
            justify-content: space-between;
            user-select: none;

            &__right{
               display: flex;
               align-items: center;
               gap: 10px;

               .achievementsTop__rightFilters{
                  display: flex;
                  align-items: center;
                  gap: 10px;

                  button{
                     border: none;
                     border-radius: 6px;
                     position: relative;

                     .achievementsFilterIconBlock{
                        display: flex;
                        align-items: center;
                        justify-content: center;
                        height: 40px;
                        width: 40px;
                        border-radius: 6px;
                        cursor: pointer;
                     }

                     .achievementsFilterPopup{
                        position: absolute;
                        right: 0;
                        bottom: 50px;
                        padding: 20px;
                        max-width: 180px;
                        box-shadow: 0px 9px 28px 8px rgba(0, 0, 0, 0.05), 0px 6px 16px rgba(0, 0, 0, 0.08), 0px 3px 6px -4px rgba(0, 0, 0, 0.12);
                        padding: 13px 16px;
                        border-radius: 12px;
                        transition: opacity 0.3s ease-in-out;
                        animation-duration: 0.3s;
                        animation-name: popup-animation;
                        z-index: 10;

                        ul{
                           list-style: none;
                           text-align: start;
                           display: flex;
                           flex-direction: column;
                           gap: 20px;

                           li{
                              font-size: 14px;
                              font-weight: 400;
                              line-height: 22px;
                              color: #262626;
                              cursor: pointer;
                           }
                        }
                     }
                  }
               }

               .achievementsTop__rightCompare{
                  button{
                     height: 40px;
                     padding: 0 30px;
                     background-color: #1890FF;
                     border: none;
                     border-radius: 6px;
                     font-size: 16px;
                     font-weight: 400;
                     line-height: 24px;
                     color: #fff;
                     cursor: pointer;
                     transition: transform 0.1s ease-in-out;
                  }
               }
            }
         }

         .achievementsItems{
            display: flex;
            flex-wrap: wrap;
            gap: 25px;
            margin: 40px 0;

            .achievementsItem{
               width: calc(20% - 25px* 4/5);
            }
         }

         .membersTop{
            display: flex;
            align-items: center;
            cursor: pointer;
            width: fit-content;
            position: relative;

            svg{
               margin-left: 10px;
               margin-top: 5px;
            }

            .membersBlockPopup{
               position: absolute;
               right: 0;
               top: 50px;
               padding: 20px;
               max-width: 200px;
               box-shadow: 0px 9px 28px 8px rgba(0, 0, 0, 0.05), 0px 6px 16px rgba(0, 0, 0, 0.08), 0px 3px 6px -4px rgba(0, 0, 0, 0.12);
               padding: 13px 16px;
               border-radius: 12px;
               transition: opacity 0.3s ease-in-out;
               animation-duration: 0.3s;
               animation-name: popup-animation;
               z-index: 10;
      
               ul{
                  list-style: none;
                  text-align: start;
                  display: flex;
                  flex-direction: column;
                  gap: 20px;
      
                  li{
                     font-size: 14px;
                     font-weight: 400;
                     line-height: 22px;
                     color: #262626;
                     cursor: pointer;
                  }
               }
            }
         }

         .membersItems{
            display: flex;
            flex-wrap: wrap;
            gap: 25px;
            margin: 40px 0;

            .membersItem{
               width: calc(33.3% - 25px* 2/3);
            }
         }

         .projectsTop{
            display: flex;
            align-items: center;
            justify-content: space-between;

            button{
               display: flex;
               align-items: center;
               border-radius: 6px;
               font-size: 16px;
               font-weight: 400;
               line-height: 24px;
               cursor: pointer;
               height: 40px;
               padding: 0 15px;
               transition: transform 0.1s ease-in-out;
               user-select: none;

               svg{
                  margin-right: 10px;
               }
            }
         }

         .projectsFilters{
            display: flex;
            justify-content: space-between;
            margin-top: 30px;
            user-select: none;

            &__left{
               display: flex;
               align-items: center;
               gap: 15px;
               flex-wrap: wrap;
               

               button{
                  border: none;
                  border-radius: 6px;
                  height: 32px;
                  padding: 0 15px;
                  display: flex;
                  align-items: center;
                  font-size: 14px;
                  font-weight: 400;
                  line-height: 22px;
                  cursor: pointer;

                  svg{
                     margin-left: 8px;
                  }
               }
            }

            &__right{
               button{
                  border: none;
                  cursor: pointer;
                  white-space: nowrap;
                  margin-left: 10px;
                  transition: transform 0.1s ease-in-out;
                  margin-top: 5px;
                  position: relative;

                  .btnText{
                     display: flex;
                     align-items: center;

                     span{
                        font-size: 14px;
                        font-weight: 400;
                        line-height: 22px;
                     }

                     svg{
                        margin-left: 8px;
                     }
                  }
                  
                  .rightFilterPopup{
                     position: absolute;
                     top: 30px;
                     right: 0;
                     box-shadow: 0px 9px 28px 8px rgba(0, 0, 0, 0.05), 0px 6px 16px rgba(0, 0, 0, 0.08), 0px 3px 6px -4px rgba(0, 0, 0, 0.12);
                     padding: 13px 16px;
                     border-radius: 12px;
                     transition: opacity 0.3s ease-in-out;
                     animation-duration: 0.3s;
                     animation-name: popup-animation;
                     z-index: 10;

                     ul{
                        list-style: none;
                        text-align: start;
                        display: flex;
                        flex-direction: column;
                        gap: 20px;
            
                        li{
                           font-size: 14px;
                           font-weight: 400;
                           line-height: 22px;
                           color: #262626;
                           cursor: pointer;
                        }
                  }
               }
               }
            }
         }

         .projectsItems{
            margin-top: 25px;
            margin-bottom: 40px;
         }

         .statisticsTitle{
            display: flex;
            align-items: center;
            user-select: none;
            cursor: pointer;
            width: fit-content;
            position: relative;

               svg{
                  margin-left: 10px;
                  margin-top: 5px;
               }    

               .statisticsBlockPopup{
                  position: absolute;
                  right: 0;
                  top: 50px;
                  padding: 20px;
                  max-width: 200px;
                  box-shadow: 0px 9px 28px 8px rgba(0, 0, 0, 0.05), 0px 6px 16px rgba(0, 0, 0, 0.08), 0px 3px 6px -4px rgba(0, 0, 0, 0.12);
                  padding: 13px 16px;
                  border-radius: 12px;
                  transition: opacity 0.3s ease-in-out;
                  animation-duration: 0.3s;
                  animation-name: popup-animation;
                  z-index: 10;
         
                  ul{
                     list-style: none;
                     text-align: start;
                     display: flex;
                     flex-direction: column;
                     gap: 20px;
         
                     li{
                        font-size: 14px;
                        font-weight: 400;
                        line-height: 22px;
                        color: #262626;
                        cursor: pointer;
                     }
                  }
               }
         }

         .statisticsFilters{
            display: flex;
            align-items: center;
            gap: 15px;
            margin-top: 40px;
            flex-wrap: wrap;
            user-select: none;
         }

         .statisticsItems{
            display: flex;
            align-items: center;
            flex-wrap: wrap;
            gap: 25px;
            margin-top: 25px;
            margin-bottom: 40px;

            .statisticsItem{
               width: calc(33.3% - 25px* 2/3);
            }

            .statisticsItemBig{
               width: calc(66.6% - 25px* 1/3);
            }
         }
      }
   }
}
}

.infoBottom button:active, .publication:active, .navMenu ul li:active, .projectsTop button:active{
   transform: scale(0.9);
}

@keyframes popup-animation{
   from {
    opacity: 0;
   }
   to {
    opacity: 1;
   }
 }

@media(hover: hover) and (pointer: fine){
   .detailCard, .darkDetailCard{
      &__top{
         .infoBottom{
            .aboutGameBtn:hover{
               background-color: #00BFFF;
            }
         }

         .titleBlock{
            &__info{
               .dateAndLinks a:hover{
                  color: #00BFFF;
               }
            }
         }
      }

      .navMenuAndContentWrapper{
         .navMenuAndContent{
            .content{
               &__inputAndBtns{
                  .publication:hover{
                     background-color: #00BFFF;
                  }
      
                  .attachments{
                     &__popup ul li:hover{
                        color: #8C8C8C;
                     }
                  }
               }
      
               .achievementsTop{
                  &__right{
                     .achievementsTop__rightCompare{
                        button:hover{
                           background-color: #00BFFF;
                        }
                     }
                  }
               }

               .projectsFilters{
                  &__right{
                     .btnText:hover{
                        span{
                           color: #8C8C8C;
                        }

                        svg path{
                           fill: #8c8c8c;
                        }
                     }

                     .rightFilterPopup ul li:hover{
                        color: #8c8c8c;
                     }
                  }
               }

               .statisticsTitle{
                  .statisticsBlockPopup ul li:hover{
                     color: #8c8c8c;
                  }
               }

               .statisticsTitle:hover{
                  h3{
                     color: #8c8c8c;
                  }

                  svg path{
                     fill: #8c8c8c;
                     stroke: #8c8c8c;
                  }
               }

               .membersTop:hover{
                  h3{
                     color: #8c8c8c;
                  }

                  svg path{
                     fill: #8c8c8c;
                     stroke: #8c8c8c;
                  }
               }

               .membersTop{
                  .membersBlockPopup ul li:hover{
                     color: #8c8c8c;
                  }
               }
            }
      
            .navMenu{
               ul li:hover{
                  color: #1890FF;
      
                  svg path{
                     fill: #1890FF;
                  }
               }
            }
         }
      }
   }

   .detailCard{
      &__top{
         .infoBottom{
            .ratingOfMembersBtn:hover{
               background-color: #00BFFF;
               border: none;
               color: #fff;
            }
         }
      }

      .navMenuAndContent{
         .content{
            &__inputAndBtns{
               .attachments:hover{
                  background-color: #8C8C8C;
               }
            }

            .achievementsTop{
               &__right{
                  .achievementsTop__rightFilters{
                     button{
                        .achievementsFilterIconBlock:hover{
                           background-color: #1890FF;

                           svg path{
                              fill: #fff;
                           }

                        }
                     }
                  }
               }
            }

            .projectsTop button:hover{
               background-color: #00BFFF;
               border-color: #00BFFF;
               color: #fff;
   
               svg path{
                  fill: #fff;
               }
            }
         }
      }
   }

   .darkDetailCard{
      &__top{
         .infoBottom{
            .ratingOfMembersBtn:hover{
               background-color: #fff;
               border: none;
               color: #191919;
            }
         }
      }

      .navMenuAndContent{
         .content{
            &__inputAndBtns{
               .attachments:hover{
                  background-color: #fff;
                  color: #191919;
               }
            }

            .achievementsTop{
               &__right{
                  .achievementsTop__rightFilters{
                     button{
                        .achievementsFilterIconBlock:hover{
                           background-color: #d9d9d9;

                           svg path{
                              fill: #191919;
                           }

                        }
                     }
                  }
               }
            }

            .projectsTop button:hover{
               background-color: #fff;
               border-color: #fff;
               color: #191919;
   
               svg path{
                  fill: #191919;
               }
            }
         }
      }
   }
}

 @media(max-width: 1350px){
   .detailCard, .darkDetailCard{
      &__top{
         padding: 0 50px;
         padding-bottom: 35px;
      }
      .navMenuAndContentWrapper{
         padding: 0 50px;
   }
   }
}

@media(max-width: 1250px){
   .detailCard, .darkDetailCard{
      &__top{
         .titleBlock{

            &__img{
               width: 30%;
            }

            &__info{
               width: 70%;
            }
         }
      }
   }
   
   .detailCard, .darkDetailCard{
      .navMenuAndContentWrapper{
      .navMenuAndContent{
         .navMenu{
            width: 30%;
         }
   
         .content{
            width: 70%;

            .statisticsItems{
                  .statisticsItem{
                     width: calc(50% - 25px* 1/2);
                  }
               
                  .statisticsItemBig{
                     width: 100%;
                  }
            }
         }
      }
   }
   }
}

@media(max-width: 1200px){
   .detailCard, .darkDetailCard{
      .navMenuAndContentWrapper{
      .navMenuAndContent{
            .content{
               .achievementsItems{
                  .achievementsItem{
                     width: calc(25% - 25px* 3/4);
                  }
               }
            }
      }
   }
   }
}

@media(max-width: 1150px){
   .detailCard, .darkDetailCard{
      .navMenuAndContentWrapper{
      .navMenuAndContent{
            .content{
               .membersItems{
                  .membersItem{
                     width: calc(50% - 25px* 1/2);
                  }
               }
            }
      }
   }
   }
}

@media(max-width: 1023px){
   .detailCard, .darkDetailCard{
      &__top{
         padding: 0 25px;
         padding-bottom: 35px;
      }

      .navMenuAndContentWrapper{
         padding: 0 25px;
      .navMenuAndContent{
         .navMenu{
            display: none;
         }

         .content{
            width: 100%;

            .achievementsItems{
               .achievementsItem{
                  width: calc(20% - 25px* 4/5);
               }
            }

            .membersItems{
               .membersItem{
                  width: calc(33.3% - 25px* 2/3);
               }
            }
         }
      }
   }
   }
}

@media(max-width: 950px){
   .detailCard, .darkDetailCard{
      &__top{
         .titleBlock{
            &__info{
               .dateAndLinks{
                  display: block;

                  &__links{
                     margin-top: 10px;
                  }
               }
   
               .infoBottom{
                  display: block;

                  &__goldAndRating{
                     margin-bottom: 10px;
                  }
               }
            }
         }
      }
   }
}

@media(max-width: 900px){
   .detailCard, .darkDetailCard{
      &__top{
         .titleBlock{

            &__img{
               width: 40%;
            }

            &__info{
               width: 60%;
            }
         }
      }
   }
}

@media(max-width: 800px){
   .detailCard, .darkDetailCard{
      .navMenuAndContentWrapper{
      .navMenuAndContent{
            .content{
               .achievementsItems{
                  .achievementsItem{
                     width: calc(25% - 25px* 3/4);
                  }
               }

               .membersItems{
                  .membersItem{
                     width: calc(50% - 25px* 1/2);
                  }
               }
            }
      }
   }
   }
}

@media(max-width: 750px){
   .detailCard, .darkDetailCard{
      &__top{
         padding: 0 15px;
         padding-bottom: 35px;

         .titleBlock{

            &__info{
               h2{
                  font-size: 25px;
                  line-height: 30px;
               }
            }
         }
      }
      .navMenuAndContentWrapper{
         padding: 0 15px;
      .navMenuAndContent{
         .content{
            h3{
               font-size: 25px;
               line-height: 30px;
            }

            .membersTop{
               svg{
                  width: 18px;
                  height: 18px;
               }
            }

            .statisticsTitle{
               .statisticsSelectedItem{
                  svg{
                     width: 17px;
                     height: 17px;
                  }
               }
            }
         }
      }
   }
   }
}

@media(max-width: 700px){
   .detailCard, .darkDetailCard{
      &__top{
         .titleBlock{
            display: block;
            text-align: center;

            &__img, &__info{
               width: 100%;
            }

            .infoBottom{
               justify-content: center;
            }

            &__info{
               .dateAndLinks{
                  &__links{
                     justify-content: center;
                  }
               }
   
               .infoBottom{
                 &__goldAndRating{
                  justify-content: center;
                 }
               }
            }
         }
      }
      .navMenuAndContentWrapper{
      .navMenuAndContent{
         .content{
            &__inputAndBtns{
               display: block;

               input{
                  width: 100%;
                  margin-right: 0;
               }
            }

            &__btns{
               display: flex;
               justify-content: flex-end;
               margin-top: 20px;
            }
         }   
      }  
   }
   }
}

@media(max-width: 650px){
   .detailCard, .darkDetailCard{
      .navMenuAndContentWrapper{
      .navMenuAndContent{
            .content{
               .achievementsItems{
                  .achievementsItem{
                     width: calc(33.3% - 25px* 2/3);
                  }
               }

               .projectsFilters{
                  flex-direction: column;
                  gap: 15px;
               }
            }
      }
   }
   }
}

@media(max-width: 550px){
   .detailCard, .darkDetailCard{
      .navMenuAndContentWrapper{
      .navMenuAndContent{
            .content{
               .membersItems{
                  .membersItem{
                     width: 100%;
                  }
               }

               .statisticsItems{
                  .statisticsItem{
                     width: 100%;
                  }
            }
            }
      }
   }
   }
}

@media(max-width: 500px){
   .detailCard, .darkDetailCard{
      .navMenuAndContentWrapper{
      .navMenuAndContent{
            .content{
               .achievementsItems{
                  .achievementsItem{
                     width: calc(50% - 25px* 1/2);
                  }
               }
            }
      }
   }
   }
}

@media(max-width: 450px){
   .detailCard, .darkDetailCard{
      &__top{
         .titleBlock{
            &__info{
               .infoBottom{
                  display: flex;
                  flex-direction: column;

                  .ratingOfMembersBtn{
                     margin-left: 0;
                     margin-top: 10px;
                  }

                  button{
                     width: 190px;
                  }
                 
                  &__goldAndRating{
                     justify-content: center;
                     margin-bottom: 15px;
                  }

                  &__rating{
                     margin: 0;
                     margin-left: 15px;
                  }
               }
            }
         }
      }

      .navMenuAndContentWrapper{
      .navMenuAndContent{
         .content{
            .achievementsTop{
               display: block;

               &__right{
                  margin-top: 20px;
                  justify-content: space-between;
               }
            }
         }
      }
   }
   }
}

@media(max-width: 370px){
.detailCard, .darkDetailCard{
   .navMenuAndContentWrapper{
   .navMenuAndContent{
      .content{
         .projectsTop{
            display: block;

            button{
               margin-top: 10px;
            }
         }
      }
   }
}
}
}
