.detailPublication{
   background-color: #FAFAFA;

   &__commentsBlock{
      border-top: 1px solid #D9D9D9;

      .commentInputBlock{
         input{
            color: #262626;
         }

         .attachments{
            background-color: #262626;
            color: #fff;

            &__popup{
               background-color: #262626;

               ul{
                  li{
                     color: #fff;
                  }
               }
            }
         }
      }
   }
}

.darkDetailPublication{
   background-color: #191919;

   &__commentsBlock{
      border-top: 1px solid #333333;

      .commentInputBlock{
         input{
            background-color: #333333;
            color: #fff;
         }

         .attachments{
            background-color: #D9D9D9;
            color: #191919;

            &__popup{
               background-color: #D9D9D9;

               ul{
                  li{
                     color: #191919;
                  }
               }
            }
         }
      }
   }

   &__top{
      .moreBtn{
         svg path{
            fill: #fff;
         }
      }
   }
}

.detailPublication, .darkDetailPublication{
   width: 100%;
   padding: 17px 24px;
   border-radius: 12px;
   margin-bottom: 20px;

   &:last-child{
      margin-bottom: 0;
   }

   &__top{
      display: flex;
      justify-content: space-between;
      align-items: center;

      .userInfo{
         display: flex;
         align-items: center;

         img{
            user-select: none;
         }

         .userNameAndDateBlock{
            margin-left: 25px;  

            p{
               font-size: 16px;
               font-weight: 500;
               color: #096DD9;
            }

            span{
               font-size: 16px;
               font-weight: 400;
               line-height: 24px;
               color: #8C8C8C;
               user-select: none;
            }
         }
      }
      .moreBtnBlock{
         width: 60px;
         height: 60px;
         display: flex;
         justify-content: center;
         align-items: center;
         cursor: pointer;
      }
      .moreBtn{
         position: relative;
         transition: transform 0.2s ease-in-out;
         user-select: none; 

         svg{
            min-width: 32px;
         }

         &__popup{
            position: absolute;
            bottom: -120px;
            left: -170px;
            background-color: #FAFAFA;
            box-shadow: 0px 9px 28px 8px rgba(0, 0, 0, 0.05), 0px 6px 16px rgba(0, 0, 0, 0.08), 0px 3px 6px -4px rgba(0, 0, 0, 0.12);
            border-radius: 12px;
            padding: 13px 16px;
            width: 180px;

            ul{
               list-style: none;
               
               li{
                  font-size: 14px;
                  font-weight: 400;
                  line-height: 22px;
                  color: #262626;
                  text-align: start;
                  margin-bottom: 20px;
                  cursor: pointer;

                  &:last-child{
                     margin-bottom: 0;
                  }
               }
            }
         }
      }
   }

   &__text{
      margin-top: 25px;

      p{
         font-size: 16px;
         font-weight: 400;
         line-height: 24px;
         color: #8C8C8C;
      }
   }

   &__bottom{
      margin-top: 40px;
      display: flex;
      justify-content: space-between;
      align-items: center;

      .likesAndCommentsBlock{
         display: flex;
         align-items: center;
         user-select: none;

         .likes, .comments{
            display: flex;
            align-items: center;
            cursor: pointer;
            transition: transform 0.2s ease-in-out;

            span{
               margin-left: 5px;
               font-size: 16px;
               font-weight: 500;
               line-height: 24px;
               color: #8C8C8C;
            }
         }

         .comments{
            margin-left: 15px;
         }
      }

      .share{
         cursor: pointer;
         transition: transform 0.2s ease-in-out;
      }
   }

   &__commentsBlock{
      margin-top: 25px;
      padding-top: 25px;

      .comment{
         display: flex;
         margin-bottom: 40px;

         img{
            user-select: none;
         }

         .commentBlock{
            margin-left: 25px;
            width: 100%;

            &__name{
               font-size: 16px;
               font-weight: 500;
               line-height: 24px;
               color: #096DD9;
            }

            &__text{
               font-size: 16px;
               font-weight: 400;
               line-height: 24px;
               color: #8C8C8C;
            }

            &__bottom{
               margin-top: 15px;
               display: flex;
               align-items: center;
               justify-content: space-between;
               user-select: none;

               .commentBottomLeft{
                  display: flex;
                  align-items: center;
                  gap: 15px;

                  span{
                     font-size: 16px;
                     font-weight: 400;
                     line-height: 24px;
                     color: #8C8C8C;
                  }

                  button{
                     font-size: 16px;
                     font-weight: 400;
                     line-height: 24px;
                     color: #096DD9;
                     border: none;
                     background: none;
                     cursor: pointer;
                     transition: transform 0.2s ease-in-out;
                  }
               }

               .commentBottomLikes{
                  display: flex;
                  align-items: center;
                  cursor: pointer;
                  transition: transform 0.2s ease-in-out;

                  span{
                     margin-left: 5px;
                     font-size: 16px;
                     font-weight: 500;
                     line-height: 24px;
                     color: #8C8C8C;
                  }
               }
            }
         }  
      }
      .commentInputBlock{
         display: flex;
         justify-content: space-between;
         align-items: center;
         margin-top: 40px;
         user-select: none;

         input{
            height: 40px;
            flex: 1;
            border: none;
            outline: none;
            border-radius: 6px;
            padding: 0 12px;
            margin-left: 25px;
            margin-right: 35px;
            font-size: 16px;
            font-weight: 400;
            line-height: 24px;

            &::placeholder{
               font-size: 16px;
               font-weight: 400;
               line-height: 24px;
               color: #8C8C8C;
            }
         }

         &__btns{
               display: flex;
               gap: 10px;
               align-items: center;

               .attachmentsBlock{
                  height: 65px;
                  display: flex;
                  flex-direction: column;
                  justify-content: center;
               }
         }

         button{
            margin-right: 10px;
            height: 40px;
            border: none;
            cursor: pointer;
            border-radius: 6px;
            width: 120px;
            font-size: 16px;
            font-weight: 400;
            line-height: 24px;
            transition: transform 0.2s ease-in-out;

            &:last-child{
               margin-right: 0;
            }
         }

         .attachments{
            position: relative;

            &__popup{
               position: absolute;
               top: -200px;
               left: 0;
               width: 120px;
               border-radius: 8px;
               padding: 16px;

               ul{
                  list-style: none;

                  li{
                     font-size: 16px;
                     font-weight: 400;
                     line-height: 24px;
                     margin-bottom: 20px;
                     text-align: start;
                     cursor: pointer;

                     &:last-child{
                        margin-bottom: 0;
                     }
                  }
               }
            }
         }

         .publication{
            background-color: #1890FF;
            color: #fff;
         }
      }
   }
}

.likes:active, .publication:active, .comments:active, .share:active, .commentBottomLeft button:active, .commentBottomLikes:active{
   transform: scale(0.9);
}

@media(hover: hover) and (pointer: fine){
   .detailPublication, .darkDetailPublication{
      .commentInputBlock{
         .attachments{
            &:hover{
               background-color: #8C8C8C;
            }

            &__popup ul li:hover{
               color: #8C8C8C;
            }
         }

         .publication:hover{
            background-color: #00BFFF;
         }
      }

      &__top{
         .moreBtn{
            &__popup ul li:hover{
               color: #096DD9;
            }

            &:hover svg path{
               fill: #096DD9;
            }
         }
      }

      &__bottom{
         .likesAndCommentsBlock{
            .likes:hover, .comments:hover{
               span{
                  color: #096DD9;
               }

               svg path{
                  fill: #096DD9;
               }
            }
         }

         .share:hover svg path{
            fill: #096DD9;
         }
      }

      &__commentsBlock{
         .comment{
            .commentBlock{
               &__bottom{
                  .commentBottomLeft button:hover{
                     color: #00BFFF;
                  }

                  .commentBottomLikes:hover{
                     span{
                        color: #096DD9;
                     }

                     svg path{
                        fill: #096DD9;
                     }
                  }
               }
            }
         }
      }
   }
}


@media(max-width: 700px){
   .detailPublication, .darkDetailPublication{
      .commentInputBlock{

         display: block;

         input{
            margin-right: 25px;
            margin-left: 0;
            width: 100%;
         }

         &__btns{
            display: flex;
            justify-content: flex-end;
            margin-top: 20px;
         }

         img{
            display: none;
         }
      }
   }
}

@media(max-width: 550px){
   .detailPublication, .darkDetailPublication{
      .comment{
         .commentBlock{
            &__bottom{
               .commentBottomLeft{
                  display: block;
   
                  span{
                     display: block;
                  }

                  button{
                     margin-right: 10px;
                  }
               }
            }
         }
      }
   }
}

@media(max-width: 450px){
   .detailPublication, .darkDetailPublication{
      padding: 15px 15px;
   }
}

@media(max-width: 400px){
   .detailPublication, .darkDetailPublication{
      &__commentsBlock{
         .comment{
            &__userAvatar{
               display: none;
            }
         }
      }
   }
}
