@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600&display=swap');

*{
   margin: 0;
   padding: 0;
   box-sizing: border-box;
   font-family: 'Inter', sans-serif;
}
body{
   background-color: #F0F2F5;
}

.gameCard{
   width: 25%;
   height: 282px;
   border-radius: 16px;
   display: flex;
   justify-content: flex-end;
   box-shadow: 0px 9px 28px 8px rgba(0, 0, 0, 0.05), 0px 3px 6px -4px rgba(0, 0, 0, 0.12);
   filter: drop-shadow(0px 6px 16px rgba(0, 0, 0, 0.08));
   transition: transform 0.1s ease-in-out;
   cursor: pointer;
   position: relative;

   &:nth-child(n+5){
      display: none;
   }

   &__btn{
      background-color: #fff;
      width: 48px;
      height: 48px;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      border-bottom-left-radius: 16px;
      border-top-right-radius: 16px;
      cursor: pointer;
   }

   .gameCard__popup{
      position: absolute;
      bottom: 0;
      right: 0;
      background-color: #fff;
      border-top-left-radius: 16px;
      border-bottom-right-radius: 16px;
      width: 80%;
      max-width: 180px;
      height: 70%;
      padding: 13px 15px;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      user-select: none;
      transition: max-height 0.5s ease-in-out;
      animation-duration: 0.5s;
      animation-name: card-popup;
   
      p{
      font-size: 14px;
      font-weight: 400;
      line-height: 22px;
      }
   }
}

.popularGameCard{
   width: 100%;
   height: 282px;
   border-radius: 16px;
   display: flex;
   justify-content: flex-end;
   box-shadow: 0px 9px 28px 8px rgba(0, 0, 0, 0.05), 0px 3px 6px -4px rgba(0, 0, 0, 0.12);
   filter: drop-shadow(0px 6px 16px rgba(0, 0, 0, 0.08));
   position: relative;

   &__btn{
      background-color: #fff;
      width: 48px;
      height: 48px;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      border-bottom-left-radius: 16px;
      border-top-right-radius: 16px;
      cursor: pointer;
   }

   .gameCard__popup{
      position: absolute;
      bottom: 0;
      right: 0;
      background-color: #fff;
      border-top-left-radius: 16px;
      border-bottom-right-radius: 16px;
      width: 80%;
      max-width: 180px;
      height: 70%;
      padding: 13px 15px;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      user-select: none;
      transition: max-height 0.5s ease-in-out;
      animation-duration: 0.5s;
      animation-name: card-popup;
   
      p{
      font-size: 14px;
      font-weight: 400;
      line-height: 22px;
      }
   }
}

// .ant-avatar-group{
//    display: flex;
// }

// .ant-avatar-image{
//    width: 32px;
//    height: 32px;
//    border-radius: 50%;

//    img{
//       border-radius: 50%;
//    }
// }


@keyframes card-popup {
   from {
    max-height: 0;
   }
   to {
    max-height: 1000px;
   }
 }

@media(hover: hover) and (pointer: fine){
   .gameCard:hover{
      transform: scale(1.1);
   }
   .gameCard__btn:hover svg path, .popularGameCard__btn:hover svg path{
      fill: #1890FF;
   }
   .gameCard__popup p:hover{
      color: #00BFFF;
   }
}

@media(max-width: 1250px){
   .gameCard, .popularGameCard{
      height: 250px;
   }
}

@media(max-width: 1150px){
   .gameCard{
      width: 33.3%;
      height: 282px;
   }
   
   .popularGameCard{
      height: 282px;
   }

   .gameCard:nth-child(n+4){
      display: none;
   }
}

@media(max-width: 800px){
   .gameCard, .popularGameCard{
      height: 230px;
   }
}

@media(max-width: 700px){
   .gameCard{
      width: 50%;
      height: 282px;
   }

   .popularGameCard{
      height: 282px;
   }

   .gameCard:nth-child(n+3){
      display: none;
   }
}

@media(max-width: 500px){
   .gameCard{
      width: 100%;
   }

   .gameCard:nth-child(n+2){
      display: none;
   }
}
