@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600&display=swap');

*{
   margin: 0;
   padding: 0;
   box-sizing: border-box;
   font-family: 'Inter', sans-serif;
}
body{
   background-color: #F0F2F5;
}

.gameCard{
   width: 25%;
   height: 282px;
   border-radius: 16px;
   display: flex;
   justify-content: flex-end;
   box-shadow: 0px 9px 28px 8px rgba(0, 0, 0, 0.05), 0px 3px 6px -4px rgba(0, 0, 0, 0.12);
   filter: drop-shadow(0px 6px 16px rgba(0, 0, 0, 0.08));

   &:nth-child(n+5){
      display: none;
   }

   &__btn{
      background-color: #fff;
      width: 48px;
      height: 48px;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      border-bottom-left-radius: 16px;
      border-top-right-radius: 16px;
      cursor: pointer;
   }
}

.popularGameCard{
   width: 100%;
   height: 282px;
   border-radius: 16px;
   display: flex;
   justify-content: flex-end;
   box-shadow: 0px 9px 28px 8px rgba(0, 0, 0, 0.05), 0px 3px 6px -4px rgba(0, 0, 0, 0.12);
   filter: drop-shadow(0px 6px 16px rgba(0, 0, 0, 0.08));

   &__btn{
      background-color: #fff;
      width: 48px;
      height: 48px;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      border-bottom-left-radius: 16px;
      border-top-right-radius: 16px;
      cursor: pointer;
   }
}

// .ant-avatar-group{
//    display: flex;
// }

// .ant-avatar-image{
//    width: 32px;
//    height: 32px;
//    border-radius: 50%;

//    img{
//       border-radius: 50%;
//    }
// }

@media(max-width: 1250px){
   .gameCard, .popularGameCard{
      height: 250px;
   }
}

@media(max-width: 1150px){
   .gameCard{
      width: 33.3%;
      height: 282px;
   }
   
   .popularGameCard{
      height: 282px;
   }

   .gameCard:nth-child(n+4){
      display: none;
   }
}

@media(max-width: 800px){
   .gameCard, .popularGameCard{
      height: 230px;
   }
}

@media(max-width: 700px){
   .gameCard{
      width: 50%;
      height: 282px;
   }

   .popularGameCard{
      height: 282px;
   }

   .gameCard:nth-child(n+3){
      display: none;
   }
}

@media(max-width: 500px){
   .gameCard, .popularGameCard{
      height: 250px;
   }
}

@media(max-width: 450px){
   .gameCard, .popularGameCard{
      height: 230px;
   }
}

@media(max-width: 400px){
   .gameCard, .popularGameCard{
      height: 150px;
   }
}
